*{
    margin: 0;
    padding: 0;
}
.bigbox{
    width: 100%;
    height: 5069px;
    border: 1px solid blue;
    /*position: absolute;*/
}
.header{
    width: 100%;
    height: 73px;
    border: 1px solid rosybrown;
    position: fixed;
    background-color: white;
    z-index: 9999;
}
.header_left{
     width: 142px;
    height: 41px;
    border: 1px solid gold;
    position: absolute;
   left: 60px;
   top:13px;
    background: url("../img/cellphone/huawei_log.png");
}
.header_center{
    width: 750px;
    height: 41px;
    position: absolute;
    left: 305px;
    top: 16px;
    border: 1px solid burlywood;
}
.header_ul{
    width: 790px;
    height: 41px;
    position: absolute;
    list-style: none;
}
.header_ul  li{
    float: left;
    width: 78px;
    height: 41px;
    border: 1px solid chocolate;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
}
.header_right{
    width: 30px;
    height: 40px;
    border: 1px solid burlywood;
    position: absolute;
    right: 120px;
    top: 13px;
}
.middle{
    width: 100%;
    height: 4375px;
    border: 1px solid peru;
    padding-top: 73px;
    position: relative;
}
.middle1{
    width: 100%;
    height: 560px;
    /*background: url("img/");*/
    background-color: #3EBFDD;
    position: relative;
    left: 0px;
    /*margin: 0 auto;*/
    background: url("../img/cellphone/home-s1-p20-pc-v11.jpg" ) no-repeat;
    background-size: 1350px 580px;
}
.middle11{
    width:518px;
    height: 50px;
    position: absolute;
    top: 440px;
    left: 400px;
    border: 1px solid white;
}
.middle11_left{
    width: 220px;
    height: 49px;
    border: 1px solid white;
    /*padding-top: 43px;*/
    position: absolute;
    right: 300px;
    /*bottom: 100px;*/
    font-size: 15px;
    text-align: center;
    line-height: 50px;

}
.middle11_right{
    width: 270px;
    height: 49px;
    border: 1px solid white;
    position: absolute;
    right: 0px;
    /*bottom: 100px;*/
    font-size: 15px;
    text-align: center;
    line-height: 50px;
}
.middle2{
    width: 100%;
    height: 585px;
    background-color: #F48682;
    margin: 0 auto;
    position: relative;
    background:url("../img/cellphone/homepage_s1_mate10_pc_2248-1026-original (1).jpg") no-repeat;
    background-size: 1350px 585px;
}
.middle21{
    width:590px;
    height: 50px;
    position: absolute;
    top: 460px;
    left: 350px;
    border: 1px solid black;
}
.middle21_left{
    width: 290px;
    height: 48px;
    border: 1px solid red;
    /*padding-top: 43px;*/
    position: absolute;
    left: 0px;
    /*bottom: 100px;*/
    font-size: 14px;
    text-align: center;
    line-height: 50px
}
.middle21_right{
    width: 290px;
    height: 48px;
    border: 1px solid royalblue;
    position: absolute;
    right: 0px;
    /*bottom: 100px;*/
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
.middle3{
    width: 100%;
    height: 580px;
    background-color: #F2F2F2;
    /*position: relative;*/
}
.middle31{
    width: 1350px;
    height: 580px;
    border: 1px solid navy;
    position: relative;
}
.middle311{
    width: 198px;
    height: 426px;
    position: absolute;
    border: 1px solid red;
    top: 110px;
    left: 290px;
    background: url("../img/cellphone/home-s2-nova3e-blue1.png") no-repeat;

}
.middle312{
    width: 260px;
    height: 69px;
    position: absolute;
    border: 1px  solid olive;
    top: 130px;
    right: 450px;
    background: url("../img/cellphone/huaweizi.PNG") no-repeat;
}
.middle313{
    width: 315px;
    height: 26px;
    border: 1px solid firebrick;
    top:220px;
    right: 395px;
    position: absolute;
    font-size: 19px;
}
.middle314{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #035C89;
    right: 675px;
    bottom: 170px;
    border-radius: 50%;
}
.middle315{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #191919;
    right: 625px;
    bottom: 170px;
    border-radius: 50%;
}
.middle316{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #E6BBBC;
    right: 575px;
    bottom: 170px;
    border-radius: 50%;
}
.middle317{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #E0CFBB;
    right: 525px;
    bottom: 170px;
    border-radius: 50%;
}
.middle318{
    width: 170px;
    height: 50px;
    position: absolute;
    border: 2px solid black;
    bottom: 60px;
    right: 540px;
    text-align: center;
    line-height: 50px;
}
.middle319{
    width: 170px;
    height: 50px;
    position: absolute;
    border: 2px solid black;
    bottom: 60px;
    right: 330px;
    text-align: center;
    line-height: 50px;
}
.middle4{
    width: 100%;
    height: 450px;
    background-color: white;
    /*position: relative;*/
}
.middle41{
    width: 1325px;
    height: 430px;
    position: relative;
    /*border: 1px solid cadetblue;*/
    top: 10px;
    right: -10px;
}
.middle411{
    width: 652px;
    height: 430px;
    position: absolute;
    border: 1px solid darkblue;
    background: url("../img/cellphone/home-s4-p10-original.jpg") no-repeat;
    background-size: 660px;
}
.middle411_top{
    width: 260px;
    height: 49px;
    position: absolute;
    border: 1px solid olive;
    top: 30px;
    right: 180px;
    font-size: 34px;
    color: white;
    text-align: center;
}
.middle411_bottom {
    width: 200px;
    height: 49px;
    position: absolute;
    border: 2px solid white;
    bottom: 50px;
    right: 220px;
    text-align: center;
    line-height: 50px;
    color: white;
}
.middle412{
    width: 652px;
    height: 430px;
    position: absolute;
    border: 1px solid darkblue;
    right: 0px;
    background: url("../img/cellphone/home-s4-mate10porsche-original.jpg") no-repeat;
    background-size: 660px;
}
.middle412_top{
    width: 150px;
    height: 49px;
    position: absolute;
    border: 1px solid olive;
    top: 30px;
    right: 250px;
    font-size: 34px;
    color: white;
    text-align: center;
}
.middle412_bottom {
    width: 280px;
    height: 49px;
    position: absolute;
    border: 2px solid white;
    bottom: 55px;
    right: 175px;
    text-align: center;
    line-height: 50px;
    color: white;
}
.middle5{
    width: 100%;
    height: 560px;
    background-color: white;
    /*position: relative;*/
}
.middle51{
    width: 1350px;
    height: 560px;
    position: absolute;
}
.middle511{
    width:200px;
    height:460px;
    /*border: 1px solid cornflowerblue;*/
    position: absolute;
    top: 50px;
    left: 160px;

}
.middle511_1{
    width: 140px;
    height:60px ;
    margin: 0px 25px;
    position: absolute;
    /*border: 1px solid firebrick;*/
    top: 35px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
.middle511_2{
    width:130px;
    height:49px;
    font-size: 14px;
    position:absolute;
    /*border: 1px solid peru;*/
    top:110px;
    left: 30px;
    text-align: center;

}
.middle511_3{
    width: 200px;
    height: 160px;
    position: absolute;
    /*border: 1px solid gold;*/
    bottom:110px;
    background: url("../img/cellphone/home-s3-matebook-x-gold.jpg") no-repeat;
    background-size: 200px 160px;
}
.middle511_4{
    width: 130px;
    height: 40px;
    /*border: 2px solid black;*/
    position:absolute;
    bottom: 60px;
    left: 34px;
    text-align: center;
    color: black;
    text-align: center;
    line-height: 40px;
}
.middle512{
    width:200px;
    height:460px;
    border: 1px solid cornflowerblue;
    position: absolute;
    top: 50px;
    left: 430px;
}
.middle512_1{
    width: 140px;
    height:60px ;
    margin: 0px 25px;
    position: absolute;
    border: 1px solid firebrick;
    top: 35px;
    text-align: center;
    line-height: 30px;
}
.middle512_2 {
    width: 130px;
    height: 49px;
    font-size: 14px;
    position: absolute;
    border: 1px solid peru;
    top: 110px;
    left: 30px;
    text-align: center;

}
.middle512_3{
    width: 200px;
    height: 160px;
    position: absolute;
    border: 1px solid gold;
    bottom:110px;
    background: url("../img/cellphone/home-s3-watch2-pro-gold.png") no-repeat;
    background-size: 200px 160px;

}
.middle512_4{
    width: 130px;
    height: 40px;
    border: 2px solid black;
    position:absolute;
    bottom: 60px;
    left: 34px;
    text-align: center;
    color: black;
    text-align: center;
    line-height: 40px;
}

.middle513{
    width:200px;
    height:460px;
    border: 1px solid cornflowerblue;
    position: absolute;
    top: 50px;
   right: 460px;
}
.middle513_1{
    width: 140px;
    height:60px ;
    margin: 0px 25px;
    position: absolute;
    border: 1px solid firebrick;
    top: 35px;
    text-align: center;
    line-height: 30px;
}
.middle513_2 {
    width: 130px;
    height: 49px;
    font-size: 14px;
    position: absolute;
    border: 1px solid peru;
    top: 110px;
    left: 30px;
    text-align: center;

}
.middle513_3{
    width: 200px;
    height: 160px;
    position: absolute;
    border: 1px solid gold;
    bottom:110px;
    background: url("../img/cellphone/home-s3-p10-plus-black.png") no-repeat;
    background-size: 200px 160px;
}
.middle513_4{
    width: 130px;
    height: 40px;
    border: 2px solid black;
    position:absolute;
    bottom: 60px;
    left: 34px;
    text-align: center;
    color: black;
    text-align: center;
    line-height: 40px;
}

.middle514{
    width:200px;
    height:460px;
    border: 1px solid cornflowerblue;
    position: absolute;
    top: 50px;
    right: 210px;
}
.middle514_1{
    width: 140px;
    height:60px ;
    margin: 0px 25px;
    position: absolute;
    border: 1px solid firebrick;
    top: 35px;
    text-align: center;
    line-height: 30px;
}
.middle514_2 {
    width: 130px;
    height: 49px;
    font-size: 14px;
    position: absolute;
    border: 1px solid peru;
    top: 110px;
    left: 30px;
    text-align: center;
}
.middle514_3{
    width: 200px;
    height: 160px;
    position: absolute;
    border: 1px solid gold;
    bottom:110px;
    background: url("../img/cellphone/home-s3-band-3yourth-blue.jpg") no-repeat;
    background-size: 200px 160px;

}
.middle514_4{
    width: 130px;
    height: 40px;
    border: 2px solid black;
    position:absolute;
    bottom: 60px;
    left: 34px;
    color: black;
    text-align: center;
    line-height: 40px;
}
.middle6{
    width: 100%;
    height: 500px;
    /*background-color:#225574;*/
    /*position: relative;*/
    /*background: url("../img/cellphone/Bannerhomepage7.jpg") no-repeat;*/
    /*background-size: 760px 480px;*/
}
.middle61{
    width: 1350px;
    height: 480px;
    border: 1px solid black;
    position: relative;
    background-color:#225574;
    background: url("../img/cellphone/Bannerhomepage7.jpg") no-repeat -980px 10px;
    overflow: hidden;

    /*background-size: 760px 480px;*/

}
.middle611{
    width: 150px;
    height: 49px;
    position: absolute;
    /*border: 1px solid olive;*/
    top: 40px;
    right:450px;
    font-size: 25px;
    color: black;
    text-align: center;
    line-height: 49px;
}
.middle612{
    width: 255px;
    height: 73px;
    position: absolute;
    /*border: 1px solid peru;*/
    right: 350px;
    top: 170px;
    font-size: 19px;
}
.middle613{
    width: 123px;
    height: 57px;
    position: absolute;
    border: 1px solid black;
    bottom: 78px;
    right: 475px;
    text-align: center;
    line-height: 57px;
}
.middle7{
    width: 100%;
    height: 562px;
    background-color: white;
    position: relative;
}
.middle71{
    width: 1350px;
    height: 562px;
    position: absolute;
    border:1px solid darkgoldenrod;
    background: url("../img/cellphone/home-s6-mate10-video-image-original.jpg")no-repeat;
    background-size: 1350px 560px;
    bottom: 7px;
}
.middle71_1{
    width: 88px;
    height: 86px;
    position: absolute;
    border: 1px solid firebrick;
    top: 160px;
    left: 625px;
}
.middle71_2{
    width: 600px;
    height:26px;
    position: absolute;
    border: 1px solid saddlebrown;
    top: 330px;
    left: 370px;
    font-size: 28px;
    text-align: center;
    line-height: 26px;
    color: white;

}
.middle71_3{
    width: 417px;
    height: 50px;
    position: absolute;
    border: 1px solid cornflowerblue;
    bottom: 80px;
    left: 260px;
    background-color:#EF2F34;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.middle71_4{
    width: 372px;
    height: 50px;
    position: absolute;
    border: 1px solid cornflowerblue;
    bottom: 80px;
    right: 270px;
    background-color:#EF2F34;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 16px;

}
.middle8{
    width: 100%;
    height: 580px;
    /*background-color: chartreuse;*/
    position: relative;
}
.middle81{
    width: 1350px;
    height: 580px;
    border: 1px solid darkslategray;
    position: absolute;
}
.middle811{
    width: 300px;
    height: 50px;
    border: 1px solid grey;
    position: absolute;
    top: 50px;
    left: 510px;
    color: black;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
}
.middle812{
    width: 300px;
    height: 390px;
    position: absolute;
    border: 1px solid forestgreen;
    top: 138px;
    left: 184px;
    background: url("../img/cellphone/hoem-s7-phone-mate10pro.jpg") no-repeat;
    background-size: 300px 390px;
}
.middle812_1{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 125px;
    border: 1px solid green;
    font-size: 37px;
    text-align: center;
    line-height: 50px;
}
.middle812_2{
    width: 110px;
    height: 66px;
    position: absolute;
    border: 1px solid gold;
    bottom: 90px;
    left: 90px;
    text-align: center;
    line-height: 65px;
    font-size: 16px;
}
.middle812_21{
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 35px;
}
.middle813{
    width: 300px;
    height: 390px;
    position: absolute;
    border: 1px solid forestgreen;
    top: 138px;
    left: 512px;
    background: url("../img/cellphone/home-s7-phone-mediapad-m2-10.jpg") no-repeat;
    background-size: 300px 390px;
}
.middle813_1{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 125px;
    border: 1px solid green;
    font-size: 37px;
    text-align: center;
    line-height: 50px;
}
.middle813_2{
    width: 110px;
    height: 66px;
    position: absolute;
    border: 1px solid gold;
    bottom: 90px;
    left: 90px;
    text-align: center;
    line-height: 65px;
    font-size: 16px;
}
.middle813_21{
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 35px;
}
.middle814{
    width: 300px;
    height: 390px;
    position: absolute;
    border: 1px solid forestgreen;
    top: 138px;
    right: 211px;
    background: url("../img/cellphone/home-s7-phone-watch-2.jpg") no-repeat;
    background-size: 300px 390px;
}
.middle814_1{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 125px;
    border: 1px solid green;
    font-size: 37px;
    text-align: center;
    line-height: 50px;
}
.middle814_2{
    width: 110px;
    height: 66px;
    position: absolute;
    border: 1px solid gold;
    bottom: 90px;
    left: 90px;
    text-align: center;
    line-height: 65px;
    font-size: 16px;
}
.middle814_21{
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 35px;
}
.footer{
    width: 100%;
    height: 620px;
    /*background-color: greenyellow;*/
    position: absolute;
}
.footer1{
    width: 1350px;
    height: 620px;
    border: 1px solid saddlebrown;
    position: absolute;
}
.footer11{
    width: 1025px;
    height: 85px;
    border: 1px solid #F67570;
    position: absolute;
    left: 155px;
}
.footer11_1{
    width: 392px;
    height: 85px;
    border: 1px solid forestgreen;
}
.footer11_2{
    width: 623px;
    height: 84px;
    border: 1px solid saddlebrown;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 398px;
}
.footer11_2 li{
    float: left;
    width: 152px;
    height: 84px;
    border: 1px solid firebrick;
}
.footer12{
    width: 1022px;
    height: 430px;
    border: 1px solid firebrick;
    position: absolute;
    top: 88px;
    left: 155px;
}
.footer12_1{
    width: 120px;
    height: 425px;
    position: absolute;
    border: 1px solid darkgoldenrod;
}
.footer12_2{
    width: 120px;
    height: 425px;
    position: absolute;
    border: 1px solid darkgoldenrod;
    left: 200px;
}
.footer12_3{
    width: 120px;
    height: 425px;
    position: absolute;
    border: 1px solid darkgoldenrod;
    left: 400px;
}
.footer12_4{
    width: 120px;
    height: 425px;
    position: absolute;
    border: 1px solid darkgoldenrod;
    left: 600px;
}
.footer12_5{
    width: 120px;
    height: 425px;
    position: absolute;
    border: 1px solid darkgoldenrod;
    left: 800px;
}
.footer13{
     width: 1022px;
     height: 50px;
     position: absolute;
     border: 1px solid darkgoldenrod;
     bottom: 50px;
     left: 155px;
 }
.footer14{
    width: 1022px;
    height: 50px;
    position: absolute;
    border: 1px solid darkgoldenrod;
    bottom: 0px;
    left: 155px;
}