*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 103px;
    /*border: 1px solid red;*/
    position: relative;
}
.headerup{
    width: 100%;
    height: 25px;
    background-color: #222222;
}
.headerup1{
    width: 1106px;
    height: 25px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.headerup_group{
    width: 80px;
    height: 25px;
    cursor: pointer;
    position: relative;
    float: left;
}
.headerup_group span{
    width: 50px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    color: white;
}
.headerup_group i{
    width: 25px;
    height: 25px;
    /*line-height: 20px;*/
    /*padding-top: 2px;*/
    color: white;}
/*}按钮事件*/
#li_nonebig{
    width: 1366px;
    height: 152px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 20px;
    border-bottom:3px solid #E7E7E7 ;
    /*border: 1px solid red;*/
    background-color: white;
    display: none;
    position: absolute;
    top: 25px;
    left: -130px;
    z-index: 999;
}
.li_none{
    width: 1062px;
    height: 98px;
    background-color: white;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.li_nonebox1{
    width: 227px;
    height: 88px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    float: left;
}
.li_nonebox1 h3{
    padding-bottom: 17px;
    font-size: 15px;
    color: #282828;
}
.li_nonebox2 h3,.li_nonebox3 h3,.li_nonebox4 h3{
    padding-bottom: 17px;
    font-size: 15px;
    color: #F76F6A;
}
.li_nonebox2 h3 i,.li_nonebox3 h3 i,.li_nonebox4 h3 i{
    padding-left: 10px;
    color: #F76F6A;
}
.li_nonebox1 p,.li_nonebox2 p,.li_nonebox3 p,.li_nonebox4 p{
    color: #282828;
    font-size: 15px;
}

.li_nonebox2,.li_nonebox3,.li_nonebox4{
    width: 212px;
    height: 88px;
    /*border: 1px solid red;*/
    margin-left: 60px;
    float: left;
}

.headerdown{
    width: 100%;
    height: 80px;
    /*background-color: wheat;*/
    /*border-bottom: 2px solid #E7E7E7;*/
    box-shadow: 2px 2px 10px #E7E7E7;
}
.headerup_language{
    width: 240px;
    height: 25px;
    float: right;
    position: relative;
}
.headerup_language ul{
    width: 240px;
    height: 25px;
    list-style: none;
}
.headerup_language ul li{
    height: 25px;
    /*width: auto;*/
    font-size: 12px;
    line-height: 25px;
    color: white;
    float: left;
}
.headerup_language ul .li_language{
    width: 157px;
    border-right:1px solid white ;
}
/*.headerup_language ul li:first-child{*/
/*width: 170px;*/
/*}*/
.headerup_language ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.headerup_language ul li a .icon-duoyuyan{
    display: block;
    float: left;
}
.headerup_language ul li a span{
    display: block;
    height: 25px;
    width: 85px;
    /*border: 1px solid red;*/
    float: left;
    line-height: 25px;
    margin-left: 10px;
}
.headerup_language ul li a .icon-xiajiantou{
    display: block;
    float: left;
    margin-left: 10px;
}
.headerup_language ul li a:hover span{
    text-decoration: underline;

}
.li_language{
    /*height: 27px;*/
    /*width: 140px;*/
    /*border-right: 1px solid white;*/
    position: relative;
}
.li_login{
    height: 27px;
    width: 77px;
    /*border: 1px solid red;*/

}
.li_login i{
    display: block;
    margin-left: 10px;
    float: left;
}
.li_login .login{
    display: block;
    float: left;
    width: 30px;
    height: 25px;
    line-height: 25px;
    /*color: red;*/
    /*border: 1px solid red;*/
}


.li_login a:hover{
    text-decoration: underline;
}
/*******************************设置按钮隐藏事件**************************************/
#li_nonebig2{
    width: 1400px;
    height: 313px;
    display: none;
    /*border: 1px solid red;*/
    background-color: white;
    box-sizing: border-box;
    padding-top: 27px;
    position: absolute;
    top: 25px;
    left: -1025px ;
    z-index: 9999;
}
.language_bigbox{
    width: 1130px;
    height: 243px;
    /*border: 1px solid red;*/
    margin: 0 auto;
}
.language_box1{
    width: 192px;
    height: 237px;
    /*border: 1px solid red;*/
    float: left;
}
.language_box1 ul{
    width: 192px;
    height: 207px;
    /*box-sizing: border-box;*/
    list-style: none;
}
.language_box1 ul li{
    height: 25px;
    line-height: 25px;
    width: 190px;
    padding-top: 15px;
}
/*.language_box1 ul li:first-child{*/
/*text-align: left;*/
/*border: 1px solid red;*/
/*}*/
.language_box1 ul li span{
    color: #222222;
    font-size: 14px;
    padding-left: 10px;
}
.language_box1 ul li span a{
    list-style: none;
    text-decoration: underline;
    color: #222222;
    font-size: 14px;
}

.language_box2 ul,.language_box3 ul, .language_box4 ul,{
    width: 180px;
    height: 200px;
    box-sizing: border-box;
    list-style: none;
}
.language_box2 ul li,.language_box3 ul li,.language_box4 ul li{
    height: 25px;
    line-height: 25px;
    width: 180px;
    padding-top: 15px;
}
.language_box3 ul li{
    width: 230px;
}
.language_box4 ul li{
    width: 240px;
}
.language_box2 ul li span,.language_box3 ul li span,.language_box4 ul li span{
    color: #222222;
    font-size: 14px;
    padding-left: 10px;

}
.language_box2 ul li span a,.language_box3 ul li span a,.language_box4 ul li span a{
    list-style: none;
    text-decoration: underline;
    color: #222222;
    font-size: 14px;
}

.language_box2,.language_box3,.language_box4{
    width: 180px;
    height: 200px;
    /*border: 1px solid red;*/
    float: left;
    margin-left: 73px;
    margin-top: 35px;
}
.language_box4{
    width: 240px;
}











.headerdown_nav{
    width: 1116px;
    height: 78px;
    margin: 0 auto;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    /*border-bottom: 2px solid #E7E7E7;*/
}
.huawei_logo{
    width: 160px;
    height: 78px;
    cursor: pointer;
    background: url("../img/xb_images/huawei_logo.png") no-repeat center;
    float: left;
}
.huawei_logo a{
    display: block;
    width: 160px;
    height: 78px;
}

.headerdown_nav_content{
    width: 800px;
    height: 78px;
    box-sizing: border-box;
    padding-left: 10px;
    /*border: 1px solid red;*/
    float: left;
}
.headerdown_nav_content ul{
    width: 800px;
    height: 78px;
    list-style: none    ;
}
.headerdown_nav_content ul li{
    height: 78px;
    line-height: 78px;
    font-size: 20px;
    /*text-align: center;*/
    float: left;
}
/*************************广告隐藏域**************************************************/
.headerdown_nav_content ul .li_phone{
    margin-left: 30px;
    width: 250px;
    /*z-index: 666;*/
    margin-right: 23px;
    position: relative;
    /*border: 1px solid red;*/
}
.li_phonehover{
    width: 1366px;
    height: 416px;
    display: none;
    background-color: #F5F5F5;
    position: absolute;
    top:75px;
    left: -325px;
    /*border: 1px solid red;*/
    z-index: 999;
}
.li_phone:hover .li_phonehover{
    display: block;
}
.li_phonehoverleft{
    width: 260px;
    height: 300px;
    background-color: #F5F5F5;
    background: url("../img/xb_images/nav_p20.jpg") no-repeat ;
    /*border: 1px solid red;*/
    position: absolute;
    left: 121px;
    top: 44px;
}
.li_understandmore{
    width: 140px;
    height: 40px;
    background-color: #F66F6A;
    cursor: pointer;
    position: absolute;
    right: -18px;
    border-radius:7% ;
    bottom: -26px;
}
.li_understandmore p{
    /*display: block;*/
    width: 140px;
    font-size: 16px;
    text-align: center;
    color: white;
    position: absolute;
    top: -20px;
    /*float: left;*/
}
.li_understandmore i{
    padding-left: 30px;
}
.li_phonehovercenter{
    width: 544px;
    height: 320px;
    /*border: 1px solid red;*/
    position: absolute;
    left: 442px;
    top: 81px;
}
.li_centerphone{
    width: 478px;
    height: 253px;
    box-sizing: border-box;
    padding: 15px;
    /*border: 1px solid red;*/
    position: absolute;
    left: 40px;
}
.nav_phone{
    width: 87px;
    height: 107px;
    background: url("../img/xb_images/nav_phone.png") no-repeat ;
    /*border: 1px solid red;*/
    margin-left: 17px;
    float: left;
}
.nav_phone p{

    font-size: 12px;
    padding-top: 46px;
    padding-left: 8px;
}
.nav_phone p a, .nav_computer p a,.nav_watch p a,.nav_intelligent p,.nav_fitting p,.nav_broadband p{
    color: #282828;
}

.nav_phone:hover a,.nav_computer:hover a,.nav_watch:hover a,.nav_intelligent:hover a,.nav_broadband:hover a,.nav_fitting:hover a {
    color: #F66F6A;
}
.nav_computer{
    width: 124px;
    height: 107px;
    margin-left: 78px;
    background: url("../img/xb_images/nav_computer.png") no-repeat;
    /*border: 1px solid red;*/
    float: left;
}
.nav_computer p{
    font-size: 12px;
    padding-top: 46px;
    padding-left: 8px;
}
.nav_watch{
    width: 75px;
    height: 107px;
    background: url("../img/xb_images/nav_watch.png") no-repeat 18px 0;
    /*border: 1px solid red;*/
    float: right;
}
.nav_watch p{
    font-size: 12px;
    padding-top: 46px;
    padding-left: 20px;
}
.nav_intelligent{
    width: 104px;
    height: 107px;
    background: url("../img/xb_images/nav_intelligent.png") no-repeat;
    /*border: 1px solid red;*/
    float: left;
}
.nav_intelligent p{
    font-size: 12px;
    padding-top: 46px;
    padding-left: 13px;
}
.nav_broadband{
    width: 94px;
    height: 107px;
    background: url("../img/xb_images/nav_broadband.png") no-repeat;
    /*border: 1px solid red;*/
    margin-left: 88px;
    float: left;
}
.nav_broadband p{
    font-size: 12px;
    padding-top: 46px;
    padding-left: 8px;
}
.nav_fitting{
    width: 74px;
    height: 107px;
    background: url("../img/xb_images/nav_fitting.png") no-repeat 3px 0;
    /*border: 1px solid red;*/
    float: right;
}
.nav_fitting p{
    font-size: 12px;
    padding-top: 46px;
    padding-left: 30px;
}
/***********************************************************************************/
#li_centerproduct{
    width: 317px;
    height: 28px;
    /*border: 1px solid red;*/
    position: absolute;
    top:267px;
    left: 0;
}
#li_centerproduct a{
    font-size: 14px;
    color: #282828;
    position: absolute;
    top:-25px;
    left: 0;
}

#li_centerproduct a span{
    color: #F66F6A;
}
#li_centerproduct a:hover {
    text-decoration: underline;
}
#li_centerproduct a:hover span{
    text-decoration: underline;
}
#li_phonehoverright{
    width: 301px;
    height: 414px;
    background-color: #EBEBEB;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
#li_phonehoverright h2{
    font-size: 20px;
    padding-left: 32px;
}
#li_phonehoverright p{
    height: 30px;
    width:100px;
    font-size: 15px;
    padding-left: 32px;
}
#li_phonehoverright p a:hover{
    text-decoration: underline;
    color: black;
}
#access_technology{
    height: 30px;
    width:100px;
    /*display: block;*/
    /*border: 1px solid red;*/
    margin-left: 32px;
    position: absolute;
    bottom: 47px;
}
#access_technology a{
    position: absolute;
    top: -25px;
    left: 0;
}
#access_technology span{
    color: #F48682;
}
#access_technology a:hover span{
    text-decoration: underline;
}
.headerdown_nav_content ul .li_solve{
    /*height: 50px;*/
    width: 230px;
    /*line-height: 50px;*/
    border-right: 1px solid #D4D4D4;
    position: relative;
}

.li_solvebox{
    width: 1366px;
    height: 417px;
    background-color: #F5F5F5;
    /*border: 1px solid red;*/
    position: absolute;
    left: -598px;
    top: 75px;
    z-index: 999;
    display: none;
}
.li_solveboxup{
    width: 1363px;
    height: 62px;
    box-sizing: border-box;
    padding-top: 7px;
    border-bottom:1px solid #C7C7C7 ;
}
.li_solveboxupcontent{
    width: 360px;
    height: 49px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.li_solveboxupcontent ul {
    width: 360px;
    height: 49px;
    list-style: none;
}
.li_solveboxupcontent ul li{
    width: 98px;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
    float: left;
    text-align: center;
    margin-left: 41px;
    color: #777777;
    /*border: 1px solid red;*/
}
.li_solveboxupcontent ul li:first-child{
    margin-left: 0;
    width: 78px;
}
.li_solveboxupcontent ul li:hover{
    border-bottom: 5px solid #F66F6A;
}
#li_solveboxleftcontent1{
    width: 285px;
    height: 273px;
    /*border: 1px solid red;*/
    float: left;
}
#li_solveboxleftcontent2{
    width: 145px;
    height: 229px;
    /*border: 1px solid red;*/
    float: left;

}
#li_solveboxleftcontent3{
    width: 142px;
    height: 190px;
    /*border: 1px solid red;*/
    float: left;
    margin-left: 115px;
}
#li_solveboxleftcontent1 h2{
    width: 285px;
    height: 28px;
    line-height: 28px;
    font-size: 24px;
    color: #282828;
}
#li_solveboxleftcontent2 h2{
    width:130px;
    height: 28px;
    line-height: 28px;
    font-size: 24px;
    color: #282828;
}
#li_solveboxleftcontent3 h2{
    width:142px;
    height: 28px;
    line-height: 28px;
    font-size: 24px;
    color: #282828;
}
#li_solveboxleftcontent1 p,#li_solveboxleftcontent2 p,#li_solveboxleftcontent3 p{
    width: 285px;
    height: 25px;
    line-height: 25px;
    padding-top: 14px;
    font-size: 18px;
    color: #282828;
}
#li_solveboxleftcontent1 p .color_viewall,#li_solveboxleftcontent2 p .color_viewall,#li_solveboxleftcontent3 p .color_viewall{
    color: #F66F6A;
}
#li_solveboxleftcontent1 p a,#li_solveboxleftcontent2 p a,#li_solveboxleftcontent3 p a{
    color: #282828;
}
#li_solveboxleftcontent1 p a:hover,#li_solveboxleftcontent2 p a:hover,#li_solveboxleftcontent3 p a:hover{
    text-decoration: underline;
    /*color: #282828;*/
}
#li_solveboxleftcontent1 span{
    font-size: 16px;
}
#li_solveboxleftcontent1 span small{
    color: #F66F6A;
    font-size: 16px;
}
.li_solveboxleft{
    width: 949px;
    height: 353px;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    padding-top: 46px;
    padding-left: 136px;
    float: left;
}
.li_solveboxright{
    width: 382px;
    height: 353px;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    padding-top: 43px;
    padding-left: 29px;
    background-color: #EBEBEB;
    float: right;
}
#li_solveboxrightcontent{
    width: 180px;
    height: 275px;
    /*border: 1px solid red;*/
}
#li_solveboxrightcontent h2{
    width:180px;
    height: 28px;
    line-height: 28px;
    font-size: 24px;
    color: #282828;
}
#li_solveboxrightcontent p{
    width: 180px;
    height: 25px;
    line-height: 25px;
    padding-top: 14px;
    font-size: 18px;
    color: #282828;
}
#li_solveboxrightcontent p a,#li_solveboxrightcontent span a{
    color: #282828;
}
#li_solveboxrightcontent p a:hover,#li_solveboxrightcontent span a:hover{
    text-decoration: underline;
}
#go_technology{
    display: block;
    padding-top: 17px;
    font-size: 16px;
}
#go_technology small{
    color: #F66F6A;
    font-size: 16px;
}
#go_technology a:hover small{
    text-decoration: underline;
}
.li_solve:hover .li_solvebox{
    display: block;
}





/***************************************************************************/
.pic_qiehuan{
    width: 30px;
    height: 30px;
    /*border: 1px solid black;*/
    background: url("../img/xb_images/nav_Switching.png") no-repeat 0 15px;
    position: absolute;
    left: 216px;
    top: 27px;;
}
.pic_qiehuan2{
    width: 30px;
    height: 30px;
    /*border: 1px solid black;*/
    background: url("../img/xb_images/nav_Switching.png") no-repeat 0 15px;
    position: absolute;
    left: 185px;
    top: 27px;;
    /*z-index: 666;*/
}

.headerdown_nav_content ul a:hover .pic_qiehuan, .headerdown_nav_content ul a:hover .pic_qiehuan2{
    background-position:0 -37px ;
}
.headerdown_nav_content ul li a:hover{
    color: #F67570;
}

/*.headerdown_nav_content ul .li_solve span{*/
/*height: 50px;*/
/*border-right: 1px solid #D4D4D4;*/
/*}*/
.headerdown_nav_content ul .li_shop{
    width: 164px;
    text-align: center;
}
.headerdown_nav_content ul .li_huaweicloud{
    width: 100px;
    text-align: center;
}
.headerdown_nav_content ul li .icon-shouji,.headerdown_nav_content ul li .icon-jiejuefangan{
    font-size: 30px;
}
.headerdown_nav_content ul li .icon-fenxiangfasong{
    font-size: 20px;
}
.headerdown_nav_content ul li a{
    text-decoration: none;
    list-style: none ;
    /*height: 80px;*/
    /*line-height: 50px;*/
    /*font-size: 20px;*/
    /*padding-bottom: 5px;*/
    color: #282828;
}
.headerdown_nav_content ul li a span{
    display: inline-block;
    margin-bottom: 5px;
}
.headerdown_nav_search{
    width: 40px;
    height: 78px;
    float: right;
}
.headerdown_nav_search i{
    font-size: 25px;
    height: 78px;
    line-height: 78px;
    opacity: .6;
    cursor: pointer;
    color: #4C4C4C;
    text-align: center;
}