*{
    margin: 0px;
    padding: 0px;
}
.head-bg{
    z-index:12;
    width: 100%;
    height: 46px;
    /*border: 1px red solid;*/
    color: white;
    background-color: #222222 ;
    position: fixed;
}
li{
    list-style: none;
}
.head{
    width: 1358px;
    height: 46px;
    /*border: 1px solid black;*/
    margin: 0px auto;
    position: relative;

}
.head-menu{
    background: url("../img/tupian/headMenu.png" ) no-repeat center;
    display: block;
    width: 36px;
    height: 46px;
    margin-right: 12px;
/*border: 1px solid yellow;*/
    font-size: 20px;
    float: left;
    transform: rotate(0deg);
    transition: 1s;
}
.head-menu:hover{
    transform: rotate(90deg);
}
.logo{
    background: url("../img/tupian/logo.png") no-repeat center;
    width: 93px;
    height: 46px;
    /*border: 1px solid yellow;*/
    float: left;
}
.head-nav{
    /*border: 1px solid yellow;*/
    width: 708px;
    height: 46px;
    line-height: 40px;
    float: left;
    padding-left: 30px;
}
.head-nav ul {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.head-nav ul li{
     float: left;
     /*border: 1px solid red;*/
    padding-left: 16px;
    padding-right: 16px;
 }
.head-nav ul li:hover{
    color: red;
}
.head-navright{
    width: 398px;
    height: 46px;
    /*border: 1px solid yellow;*/
    float: right;
    z-index: 12;
    position: relative;
}
.head-navright li{
    float: right;

}
.head-navright li:hover{
    color: red;
}
#registration{
    background-color: #ca151d;
    padding-left: 15px;
    padding-right: 15px;
}
#registration:hover{
    background-color: #ef323e;
    color: white;
 }
.head-navright ul li{
    display: inline-block;
    vertical-align: middle;
    /*cursor: pointer;*/
    padding-left: 10px;
    padding-right: 10px;
    line-height: 46px;
    color: #f2f2f2;
    font-size: 14px;
}

.content{
    /*border: 1px solid red;*/
    width: 100%;
    height: 2100px;
    padding-top: 46px;
    z-index: -1;
}
.events-bg{
    /*border: 1px solid red;*/
    background: url("../img/tupian/bg-pc.jpg") ;
    width: 100%;
    height: 560px;
    position: relative;
    z-index: 1;
}
.events-pic{
    width: 939px;
    height: 491px;
    /*border: 1px solid yellow;*/
    position:absolute;
    right: 0px;
    top: 0px;
    background: url("../img/tupian/image-sub.png");
    z-index: -1;
}
.banner-main{
    /*border: 1px solid red;*/
    width: 1180px;
    height: 292px;
    padding-top: 90px;
    margin: 0px auto;
    z-index: -1;
}
.banner-main-text p:nth-child(1) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px;
    color: #333;
    line-height: 60px;

}
.banner-main-text p:nth-child(2) {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    line-height: 22px;
}
.banner-main-text-button{
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 78px;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 38px;
    margin-top: 30px;
    font-size: 18px;
    color: white;
    background-color: #e41f2b;
    box-shadow: 0 10px 20px 0 rgba(239,35,54,.2);
}
.events{
    width: 100%;
    height: 102px;
    padding-bottom: 58px;
    position: absolute;
    bottom: 0px;
    /*border: 1px solid yellow;*/
}
.events-box{
    width: 1180px;
    height: 102px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    /*border: 1px solid black;*/


}
.events-box-item{;
    position: relative;
    float: left;
    width: 25%;
    height: 100px;
    background: rgba(255,255,255,.9);
    box-sizing: border-box;
    padding: 24px 5px 24px 90px;
    border-right: 1px solid #e9e9e9;

}
.events-box-item>p{
    margin-top: 3px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
}
.events-box-item a
{
    margin-bottom: 4px;
    font-size: 17px;
    line-height: 25px;
}
.events-box-item:hover a{
    color: red;

}
.events-box-item img{
    width: 60px;
    height: 60px;
    display: inline-block;
    position: absolute;
    left: 10px;
}
.events-bar{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    /*border: 1px solid yellow;*/
    background: rgba(255,255,255,.6);
}
.events-bar-wrapper{
    width: 1210px;
    height: 40px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    padding: 10px 15px;
}
.events-bar-wrapper-new{
    /*border: 1px solid black;*/
    float: left;
    width: 58px;
    height: 20px;
    margin-right: 20px;
    background-image: url(../img/tupian/events-new.svg);
    background-repeat: no-repeat;
    background-size: auto 14px;
    background-position: center center;
}
.events-bar-wrapper-item{
    /*border: 1px solid black;*/
    position: relative;
    float: left;
    padding-right: 20px;
    padding-left: 12px;
    width: calc((100% - 100px)/ 4);
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.events-bar-wrapper-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 10px;
    background: #e41e2b;
    vertical-align: middle;}
.events-bar-wrapper-more{
    float: right;
    margin-left: -30px;
}
.sidebar-control{
    position: absolute;
    bottom: 175px;
    left: 0;
    width: 100px;
    height: 20px;
    margin: 0 ;
    padding: 0;
    text-align: center;
    font-size: 10px;
    /*border: 1px solid yellow;*/
}
.sidebar-control li{
    float: left;
}
/*events over*/
/* product start*/
.product-bg{
    /*border: 1px solid red;*/
    width: 100%;
    height: 882px;
    background: #fff;
}
.product{
    /*border: 1px solid yellow;*/
    width: 1349px;
    height: 880px;
    color: #999999;
    margin: 0px auto;

}
.product-head{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    max-width: 1210px;
    height: 155px;
    margin: 0 auto;
    padding: 60px 15px 30px 15px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
.product-head p:first-child{
    color: #333;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 36px;
}
.product-body-pc{
    /*border: 1px solid yellow;*/
    box-sizing: border-box;
    color:#6f7479;
    font-size: 14px;
    height: 616px;
    width: 1358px;
}
.product-nav-tabs{
    /*border: 1px solid black;*/
    overflow: hidden;
    box-sizing: border-box;
    height: 138px;
    max-width: 1210px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.product-nav-tabs>li{

   float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 28px;
    width: 20%;
    height: 138px;
}
img{
    display: block;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
}
.product-nav-tabs p{
    display: inline-block;
    position: relative;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.product-nav-tabs a:hover{
    color: red;
}
.product-tab-content-bg{

    overflow: hidden;
    background: #fafafa;
    transition: .35s;
}
.product-tab-content{
box-sizing: border-box;
    max-width: 1210px;
    height: 340px;
    padding: 30px 15px 30px 15px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-weight: normal;
}
.product-tab-content h2 {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 25px;
    color: #333;
}
.product-tab-content p {
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    text-align: justify;
}
.product-list{

}
.product-item>a{
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 33.3333%;
    height: 140px;
    padding: 20px 45px 20px 20px;
    transition: .2s;
}
.product-item>a:hover{
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(37,43,58,.1)
}
.product-item>a:hover h2{
    color: red;
}
.product-bottom{
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}
.product-bottom:hover{
    color: #2d56b1;
}
.solution{
    width: 100%;
    height: 580px;
    background-color: #fafafa;
}
.solution-head{
    max-width: 1210px;
    padding: 60px 15px 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.solution-head h2{
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333;
}
.solution-head p{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #999;
}
.solution-wrapper{
    width: 100%;
    height: 425px;
    background-color: #6F7479;
}
.solution-body{
    /*border: 1px solid yellow;*/
    max-width: 1440px;
   max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.solution-item{
    overflow: hidden;
    position: relative;
    float: left;
    width:20% ;
    height: 425px;
    background-size: cover;
    background-position: center center;
}
.solution-item-business{
    background: url("../img/tupian/bg-business.jpg");
}
.solution-item-calc{
    background: url("../img/tupian/bg-calc.jpg");
}
.solution-item-game{
    background: url("../img/tupian/bg-game.jpg");
}
.solution-item-webmobile{
    background: url("../img/tupian/bg-webmobile.jpg");
}
.solution-item-sap{
    background: url("../img/tupian/bg-sap.jpg");
}
.solution-inner{
    background-color: rgba(37,43,58,.7);
    box-sizing: border-box;
    height: 520px;
    padding: 170px 20px 0;
    transition: .35s;
}
/*hover¶¯»­*/
.solution-item:hover .solution-inner {
    background: rgba(246,251,255,.7);
    transform: translate3d(0,-70px,0);
}
.solution-item:hover .solution-inner p{
    display: block;
}
.solution-item:hover .solution-inner div{
    display: block;
}
.solution-item:hover h2{
    color: black;
}
.solution-item:hover .solution-icon-business{
    background: url("../img/tupian/icon-business-active.svg");
}
.solution-item:hover .solution-icon-game{
    background: url("../img/tupian/icon-game-active.svg");
}
.solution-item:hover .solution-icon-webmobile{
    background: url("../img/tupian/icon-webmobile-active.svg");
}
.solution-item:hover .solution-icon-calc{
     background: url("../img/tupian/icon-calc-active.svg");
 }
.solution-item:hover .solution-icon-sap{
    background: url("../img/tupian/icon-sap-active.svg");
}
.solution-inner i{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 23px;
    background-size: 100% 100%;
    transition: .35s;
}
.solution-icon-business{
    background-image: url("../img/tupian/icon-business.svg");
}
.solution-icon-game{
    background-image: url("../img/tupian/icon-game 1.svg");
}
.solution-icon-webmobile{
    background-image: url("../img/tupian/icon-webmobile.svg");
}
.solution-icon-calc{
    background-image: url("../img/tupian/icon-calc 1.svg");
}
.solution-icon-sap{
    background-image: url("../img/tupian/icon-sap.svg");
}
.solution-inner h2 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
}
.solution-inner p {
    display: none;
    max-width: 180px;
    min-height: 72px;
    margin: 0 auto 10px;
    font-size: 12px;
    line-height: 18px;
    color: #252b3a;
    transition: .35s;
}
.solution-inner div {
    display: none;
    /*display: block;*/
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(227,24,31,.3);
    transition: .35s;
}
.button-red{
    background: #e41e2b;
    color: #FFF;
    border-color: #e41e2b;
}
.register-area {
    box-sizing: border-box;
    border: solid 1px yellow;
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    background: url("../img/tupian/register-bg-2.jpg") no-repeat ;
}
.footer-service{
    background-color: #272727;
    color: #c3c5c6;
    width: 100%;
    height: 100px;
}
.footer-wrapper{
    box-sizing: border-box;
    max-width: 1200px;
    /*height: 260px;*/
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.footer-service-wrapper{
height: 100px;
}
.footer-service-wrapper > ul {
    overflow: hidden;
    list-style: none;
}
.footer-service li{
    float: left;
}
 .footer-service ul > li > a {
     box-sizing: border-box;
    display: block;
    position: relative;
    height: 100px;
     width: 196px;
    padding-left: 80px;
    padding-top: 28px;
}
.footer-icon-support {
    position: absolute;
    left: 25px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% 100%;
    background: url(../img/tupian/support.svg);
}
.footer-icon-unsub {
    position: absolute;
    left: 25px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% 100%;
    background: url(../img/tupian/unsub.svg);
}
.footer-icon-record {
    position: absolute;
    left: 25px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% 100%;
    background: url(../img/tupian/record.svg);
}
.footer-icon-pay {
    position: absolute;
    left: 25px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% 100%;
    background: url(../img/tupian/pay.svg);
}
.footer-icon-feedback {
    position: absolute;
    left: 25px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% 100%;
    background: url(../img/tupian/feedback.svg);
}
.footer-icon-vip {
    position: absolute;
    left: 25px;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% 100%;
    background: url(../img/tupian/vip.svg);
}
.footer-service h2{
    color:white;
}

#footer{
    color: #c3c5c6;
    background: #222;
    width: 100%;
    justify-content: center;
    height: 391px;
}
.footer-nav {
    box-sizing: border-box;
    height: 330px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    background: #222;
}
.footer-nav-menus {
    box-sizing: border-box;
    float: left;
    width: 72.88%;
    height: 260px;
}
.footer-nav-menus dl {
    float: left;
    width: 18%;
    padding-right: 10px;
    font-size: 14px;
}
.footer-nav-menus dl dt {
    margin-bottom: 16px;
    line-height: 20px;
    color: #fff;
}
.footer-nav-menus dl dd {
    line-height: 28px;
    list-style: none;
}
.footer-nav-menus dl dd:hover{
    color: white;
    font-weight: 800;
}
.footer-nav-submenus {
    float: left;
    width: 27.12%;
    overflow: hidden;
}
.footer-nav-about {
    float: left;
    width: 39.375%;}
.footer-nav-submenus dl {
    float: left;
    width: 40%;
    padding-right: 10px;
    font-size: 14px;
}
.footer-nav-submenus dl dt {
    margin-bottom: 16px;
    line-height: 20px;
    color: #fff;
}
.footer-nav-submenus dl dd {
    line-height: 28px;
    list-style: none;
}
.footer-nav-others {}



