.content1{
    width: 1365px;
    height: 750px;
    margin: 0px auto;
    position: relative;
}
.content1_background{
    width: 1920px;
    height: 450px;
    position: absolute;
    top: 0px;
    left:-300px;
}
li{
    list-style: none;
}
.lunbotu{
    width: 400px;
    height: 30px;
    position: absolute;
    left: 950px;
    bottom: 10px;
}
.lunbotu ul li{
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    list-style: none;
    border: 2px solid #969896;
    position: relative;
    top: -15px;
    float: left;
    cursor: pointer;
}
.content1_nav{
    width: 240px;
    height: 450px;
    font-size: 15px;
    color: black;
    position: absolute;
    left:80px;

}
.content1_nav_one_text{
    width: 240px;
    height: 75px;
    background-color: #333;
    background: rgba(0,0,0,0.5);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content1_nav_one_text:hover{
    color: white;
    background-color: #333;
}
.content1_nav_hidden1{
    width: 648px;
    height: 450px;
    background-color: white;
    opacity: 1;
    position: absolute;
    left: 240px;
    top:0px;
    z-index: 10;
    display: none;
}
.content1_nav_hidden1_one{
    width: 648px;
    height: 70px;
    color: #ca151d;
    line-height: 70px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden1_two{
    width: 648px;
    height: 137px;
    color: #3a3a3a;
    line-height: 48px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden1_three{
    width: 648px;
    height: 243px;
}
.content1_nav_hidden1_three li{
    width: 152px;
    height: 243px;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -30px;
    float: left;
}
.content1_nav_hidden1_three p{
    color: #a4a4a4;
    font-size: 13px;
    position: relative;
    top:0px;
    left: 0px;
    text-align: center;
}
.content1_nav_one{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content1_nav_one:hover .content1_nav_hidden1{
    display: block;
}

/*隐藏第二部分*/
.content1_nav_two_text{
    width: 240px;
    height: 75px;
    background-color: #333;
    background: rgba(0,0,0,0.5);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content1_nav_two_text:hover{
    background-color: #333333;
    color: white;
}

.content1_nav_hidden2{
    width: 648px;
    height: 450px;
    background-color: white;
    opacity: 1;
    position: absolute;
    left: 240px;
    top:-75px;
    z-index: 10;
    display: none;
}
.content1_nav_hidden2_one{
    width: 648px;
    height: 70px;
    color: #ca151d;
    line-height: 70px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden2_two{
    width: 648px;
    height: 137px;
    color: #3a3a3a;
    line-height: 48px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden2_three{
    width: 648px;
    height: 243px;
}
.content1_nav_hidden2_three li{
    width: 152px;
    height: 243px;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -30px;
    float: left;
}
.content1_nav_hidden2_three p{
    color: #a4a4a4;
    font-size: 13px;
    position: relative;
    top:0px;
    left: 0px;
    text-align: center;
}
.content1_nav_two{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 75px;
    left: 0px;
}
.content1_nav_two:hover .content1_nav_hidden2{
    display: block;
}
/*隐藏第三部分*/
.content1_nav_three_text{
    width: 240px;
    height: 75px;
    background-color: #333;
    background: rgba(0,0,0,0.5);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content1_nav_three_text:hover{
    background-color: #333333;
    color: white;
}
.content1_nav_hidden3{
    width: 648px;
    height: 450px;
    background-color: white;
    opacity: 1;
    position: absolute;
    left: 240px;
    top:-150px;
    z-index: 10;
    display: none;
}
.content1_nav_hidden3_one{
    width: 648px;
    height: 70px;
    color: #ca151d;
    line-height: 70px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden3_two{
    width: 648px;
    height: 137px;
    color: #3a3a3a;
    line-height: 48px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden3_three{
    width: 648px;
    height: 243px;
}
.content1_nav_hidden3_three li{
    width: 152px;
    height: 243px;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -30px;
    float: left;
}
.content1_nav_hidden3_three p{
    color: #a4a4a4;
    font-size: 13px;
    position: relative;
    top:0px;
    left: 0px;
    text-align: center;
}
.content1_nav_three{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 150px;
    left: 0px;
}
.content1_nav_three:hover .content1_nav_hidden3{
    display: block;
}

/*隐藏第四部分*/
.content1_nav_four_text{
    width: 240px;
    height: 75px;
    background-color: #333;
    background: rgba(0,0,0,0.5);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content1_nav_four_text:hover{
    background-color: #333333;
    color: white;
}
.content1_nav_hidden4{
    width: 648px;
    height: 450px;
    background-color: white;
    opacity: 1;
    position: absolute;
    left: 240px;
    top:-225px;
    z-index: 10;
    display: none;
}
.content1_nav_hidden4_one{
    width: 648px;
    height: 70px;
    color: #ca151d;
    line-height: 70px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden4_two{
    width: 648px;
    height: 137px;
    color: #3a3a3a;
    line-height: 48px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden4_three{
    width: 648px;
    height: 243px;
}
.content1_nav_hidden4_three li{
    width: 152px;
    height: 243px;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -30px;
    float: left;
}
.content1_nav_hidden4_three p{
    color: #a4a4a4;
    font-size: 13px;
    position: relative;
    top:0px;
    left: 0px;
    text-align: center;
}
.content1_nav_four{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 225px;
    left: 0px;
}
.content1_nav_four:hover .content1_nav_hidden4{
    display: block;
}

/*隐藏第五部分*/
.content1_nav_five_text{
    width: 240px;
    height: 75px;
    background-color: #333;
    background: rgba(0,0,0,0.5);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content1_nav_five_text:hover{
    background-color: #333333;
    color: white;
}
.content1_nav_hidden5{
    width: 648px;
    height: 450px;
    background-color: white;
    opacity: 1;
    position: absolute;
    left: 240px;
    top:-300px;
    z-index: 10;
    display: none;
}
.content1_nav_hidden5_one{
    width: 648px;
    height: 70px;
    color: #ca151d;
    line-height: 70px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden5_two{
    width: 648px;
    height: 137px;
    color: #3a3a3a;
    line-height: 48px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden5_three{
    width: 648px;
    height: 243px;
}
.content1_nav_hidden5_three li{
    width: 152px;
    height: 243px;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -30px;
    float: left;
}
.content1_nav_hidden5_three p{
    color: #a4a4a4;
    font-size: 13px;
    position: relative;
    top:0px;
    left: 0px;
    text-align: center;
}
.content1_nav_five{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 300px;
    left: 0px;
}
.content1_nav_five:hover .content1_nav_hidden5{
    display: block;
}
/*隐藏第六部分*/
.content1_nav_six_text{
    width: 240px;
    height: 75px;
    background-color: #333;
    background: rgba(0,0,0,0.5);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content1_nav_six_text:hover{
    background-color: #333333;
    color: white;
}
.content1_nav_hidden6{
    width: 648px;
    height: 450px;
    background-color: white;
    opacity: 1;
    position: absolute;
    left: 240px;
    top:-380px;
    z-index: 10;
    display: none;
}
.content1_nav_hidden6_one{
    width: 648px;
    height: 70px;
    color: #ca151d;
    line-height: 70px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden6_two{
    width: 648px;
    height: 137px;
    color: #3a3a3a;
    line-height: 48px;
    border-bottom: 1px solid gainsboro;
}
.content1_nav_hidden6_three{
    width: 648px;
    height: 243px;
}
.content1_nav_hidden6_three li{
    width: 152px;
    height: 243px;
    background-color: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: -30px;
    float: left;
}
.content1_nav_hidden6_three p{
    color: #a4a4a4;
    font-size: 13px;
    position: relative;
    top:0px;
    left: 0px;
    text-align: center;
}
.content1_nav_six{
    width: 200px;
    height: 75px;
    position: absolute;
    top: 375px;
    left: 0px;
}
.content1_nav_six:hover .content1_nav_hidden6{
    display: block;
}

.content1_nav2{
    width: 1200.23px;
    height: 98.1167px;
    position: absolute;
    top: 450px;
    left: 0px;
}
.content1_nav2_one{
    width: 288px;
    height: 72.4333px;
    margin-bottom: 12.8417px;
    margin-top: 12.8417px;
    text-align: center;
    border-right: 1px solid #a4a4a4;
    position: relative;
}
.content1_nav2_one img{
    width: 59px;
    height: 59px;
    position: absolute;
    top:0px;
    left: 20px;
}
.content1_nav2_one_text{
    width: 168px;
    height: 31.2px;
    font-size: 12px;
    color: #a4a4a4;
    position: absolute;
    left: 90px;
}
.content1_nav2_one_text a{
    text-decoration: underline;
    color: #3a3a3a;
}
.content1_nav2_one_text a:hover{
    color: #e01d20;
}
.content1_nav2_one_button1{
     width: 60.2333px;
     height: 20.2333px;
     color: #e01d20;
     position: absolute;
     left: 94px;
     bottom:12.8417px;
 }
.content1_nav2_one_button1:hover{
    background-color: #e01d20;
    color: #fff;
}
.content1_nav2_one_button2{
    width: 60.2333px;
    height: 20.2333px;
    color: #e01d20;
    position: absolute;
    left: 174px;
    bottom:12.8417px;
}
.content1_nav2_one_button2:hover{
    background-color: #e01d20;
    color: #fff;
}
.content1_nav2_two{
    width: 690.98px;
    height: 80px;
    margin-bottom: 12.8417px;
    margin-top: 12.8417px;
    border-right: 1px solid #a4a4a4;
    position: absolute;
    top: 0px;
    left:270px;
}
.content1_nav2_two li{
    width: 100.333px;
    height: 80px;
    position: relative;
    top: -18px;
    float: left;
    list-style: none;
    /*border: 1px solid red;*/
}
.content1_nav2_two_1{
    width: 55px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 2px;
}
.content1_nav2_two_1 img{
    position: absolute;
    left: 17px;
    top:0px;
    width: 310px;
    height: 40px;

}
.content1_nav2_two_1_text{
    width: 55px;
    height: 30px;
    color: #3a3a3a;
    position: absolute;
    left: 24px;
    bottom: 2px;
}
.content1_nav2_two_1_text a:hover{
    color: #e01d20;
}
.content1_nav2_two_2{
    width: 45px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 27px;
    top: 2px;
}
.content1_nav2_two_2 img{
    position: absolute;
    left: -38px;
    top:0px;
    width: 310px;
    height: 40px;

}
.content1_nav2_two_2_text{
    width: 60px;
    height: 30px;
    color: #3a3a3a;
    position: absolute;
    left: 24px;
    bottom: 2px;
}
.content1_nav2_two_2_text a:hover{
    color: #e01d20;
}


.content1_nav2_two_3{
    width: 45px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 27px;
    top: 2px;
}
.content1_nav2_two_3 img{
    position: absolute;
    left: -80px;
    top:0px;
    width: 310px;
    height: 40px;

}
.content1_nav2_two_3_text{
    width: 60px;
    height: 30px;
    color: #3a3a3a;
    position: absolute;
    left: 24px;
    bottom: 2px;
}
.content1_nav2_two_3_text a:hover{
    color: #e01d20;
}

.content1_nav2_two_4{
    width: 41px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: 2px;
}
.content1_nav2_two_4 img{
    position: absolute;
    left: -123px;
    top:0px;
    width: 310px;
    height: 40px;

}
.content1_nav2_two_4_text{
    width: 60px;
    height: 30px;
    color: #3a3a3a;
    position: absolute;
    left: 24px;
    bottom: 2px;
}
.content1_nav2_two_4_text a:hover{
    color: #e01d20;
}
.content1_nav2_two_5{
    width: 42px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: 2px;
}
.content1_nav2_two_5 img{
    position: absolute;
    left: -164px;
    top:0px;
    width: 310px;
    height: 40px;

}
.content1_nav2_two_5_text{
    width: 80px;
    height: 30px;
    color: #3a3a3a;
    position: absolute;
    left: 16px;
    bottom: 2px;
}
.content1_nav2_two_5_text a:hover{
    color: #e01d20;
}
.content1_nav2_two_6{
    width: 42px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: 2px;
}
.content1_nav2_two_6 img{
    position: absolute;
    left: -208px;
    top:0px;
    width: 310px;
    height: 40px;

}
.content1_nav2_two_6_text{
    width: 70px;
    height: 30px;
    color: #3a3a3a;
    position: absolute;
    left: 21px;
    bottom: 2px;
}
.content1_nav2_two_6_text a:hover{
    color: #e01d20;
}

.content1_nav2_three{
    width: 238px;
    height:45px;
    position: absolute;
    right:0px;
    top: 0px;
    border-bottom: 1px solid #a4a4a4;
    text-align: center;
    line-height: 45px;
}
.content1_nav2_three b{
    color: #e01d20;
    text-align: center;
}

.content1_nav2_three a{
    color: #3a3a3a;
    text-align: center;
}
.content1_nav2_three a:hover{
    color: #e01d20;
}
.content1_nav2_four{
    width: 238px;
    height:49px;
    position: absolute;
    right:0px;
    bottom: 0px;
    text-align: center;
    line-height: 45px;
}
.content1_nav2_four_1{
    width: 79px;
    height:49px;
    position: absolute;
    left:0px;
    bottom: 0px;

}
.content1_nav2_four_1_img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top:15px;
    overflow: hidden;
}
.content1_nav2_four_1_img img{
    position: absolute;
    right: -45px;
    top:0px;
    width: 330px;
    height: 40px;
}
.content1_nav2_four_1 a{
    color: #3a3a3a;
    position: absolute;
    right: 5px;
    top:4px;
    font-size: 12px;
}
.content1_nav2_four_1 a:hover{
    color: #e01d20;
}


.content1_nav2_four_2{
    width: 79px;
    height:49px;
    position: absolute;
    left:79px;
    bottom: 0px;
}
.content1_nav2_four_2_img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top:15px;
    overflow: hidden;
}
.content1_nav2_four_2_img img{
    position: absolute;
    right: -20px;
    top:0px;
    width: 330px;
    height: 40px;
}
.content1_nav2_four_2 a{
    color: #3a3a3a;
    position: absolute;
    right: 0px;
    top:4px;
    font-size: 12px;
}
.content1_nav2_four_2 a:hover{
    color: #e01d20;
}

.content1_nav2_four_3{
    width: 79px;
    height:49px;
    position: absolute;
    left:158px;
    bottom: 0px;
}
.content1_nav2_four_3_img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top:15px;
    overflow: hidden;
}
.content1_nav2_four_3_img img{
    position: absolute;
    right: 0px;
    top:0px;
    width: 330px;
    height: 40px;
}
.content1_nav2_four_3 a{
    color: #3a3a3a;
    position: absolute;
    right: 0px;
    top:4px;
    font-size: 12px;
}
.content1_nav2_four_3 a:hover{
    color: #e01d20;
}

.content1_nav3{
    width: 1250px;
    height: 170px;
    position: absolute;
    bottom:10px;
    left: 80px;
}
.content1_nav3 li{
    width: 290px;
    height: 160px;
    margin: 4px;
    list-style: none;
    position: relative;
    left: -42px;
    top: -10px;
    float: left;
}