.content3{
    width: 1200px;
    height: 1300px;
    position: absolute;
    top: 2500px;
    left: 0px;
}
.content3_top{
    width: 1200px;
    height: 400px;
    position: absolute;
    top:0px;
    left:0px;
}
.content3_top_text{
    width: 1920px;
    height: 78px;
    position: absolute;
    top:0px;
    left: -310px;
}
.content3_top_img{
    width: 1200px;
    height: 290px;
    position: absolute;
    top:78px;
    left: 0px;
}
.content3_img{
    width: 1200px;
    height: 900px;
    position: absolute;
    top:380px;
    left:0px;
}
.content3_img_text{
    width: 1920px;
    height: 65px;
    position: absolute;
    top:0px;
    left: -310px;
}
.content3_img_img1{
    width: 1920px;
    height: 473px;
    position: absolute;
    top:65px;
    left: -360px;
}
.content3_img_img2{
    width: 1920px;
    height: 483px;
    position: absolute;
    top:550px;
    left: -360px;
}
.content3_foot {
    width: 1200px;
    height: 290px;
    position: absolute;
    top: 1400px;
    left: 0px;
}

.content3_foot  img{
     width: 1920px;
     height: 290px;
     position: absolute;
     top: 0px;
     left:-310px;
 }
