/*去掉浏览器的默认margin、padding;*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*整个html的容器*/
.bigbox{
    width: 100%;
    /*width: 1349px;*/
    height: 2990.03px;
    /*height: 2903.03px;*/
}
/********right_iconbox***********/
.right_iconbox{
    width: 48px;
    height: 260px;
    position: fixed;
    top: 182px;
    right: 0px;
    z-index: 1000;
}
.right_iconbox div{
    width: 48px;
    height: 48px;
    background-color: rgb(204,204,204);
    margin-top: 4px;
    text-align: center;
    line-height: 48px;
    color: white;

}
.right_iconbox div:hover{
    background-color: rgb(193,32,37);
}
.right_iconbox div i{
    font-size: 28px;
}
/*html的头部*/
.header{
    width: 100%;
    /*width: 1349px;*/
    height: 87px;
    position: fixed;
    background-color: white;
    z-index: 1000;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
.header .nav{
    margin: 0 auto;
    width: 1319px;
    height: 74px;

    padding-left: 15px;
    padding-right: 15px;
}
.header .nav .topnav{
    margin: 0 auto;
    width: 1319px;

    height: 28px;
}
.header .nav .topnav div{
    width: 1319px;
    height: 28px;
    margin: 0 auto;
    /*float: right;*/
}
.header .nav .topnav div ul{
    width: 211.656px;
    height: 28px;

    float: right;
    list-style: none;

}
.header .nav .topnav div ul li{
    height: 28px;
    line-height: 28px;
    float: left;
    font-size: 15px;

}
.header .nav .topnav div ul li :hover{
    color: blue;
}
.header .nav .topnav div ul .fir_li{

}
.header .nav .topnav div ul .sec_li{
    margin-left: 20px;
}
.header .nav .topnav div ul .thi_li{
    margin-left: 20px;
}
.header .nav .topnav div ul li a{
    text-decoration: none;
    color: black;
}
.header .nav .bottomnav{
    margin: 0 auto;
    width: 1319px;

    height: 40px;
}
.header .nav .bottomnav img{
    width: 167px;
    height: 40px;
    float: left;
}
.header .nav .bottomnav ul{
    float: left;
    width: 500px;
    height: 40px;
    list-style: none;
    margin-left: 20px;
}
.header .nav .bottomnav ul li{
    float: left;
    height: 40px;
    margin-right: 25px;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
}
.header .nav .bottomnav ul li:hover{
    color: red;
    border-bottom: 2px solid red;
}
.one:hover .dis_block,.dis_block :hover{
    display: block;
}
/*.dis_block:hover .one{*/
    /*color: red;*/
    /*border-bottom: 2px solid red;*/
/*}*/
/**************dis_block*******************/
.header .dis_block{
    width: 100%;
    height: 417px;
    background-color: rgb(241,241,241);
    position: absolute;
    z-index: 999;
    /*top: 87px;*/
    /*top:72px;*/
    top:74px;
    left: 0px;
    display: none;
}
.header .dis_block .hot{
    width: 1200px;
    height: 417px;
    margin: 0 auto;
    /*background-color: #0086b3;*/
    padding: 0px 15px 0px 30px;
}
.header .dis_block .hot .left{
    width: 300px;
    height: 417px;
    /*background-color: #63a35c;*/
    float: left;
}
.header .dis_block .hot .left ul{
    width: 300px;
    height: 417px;
    list-style: none;
}
.header .dis_block .hot .left ul li{
    width: 300px;
    height: 49px;
    /*background-color: #795da3;*/
    border-bottom: 1px solid rgb(204,204,204);
    text-align: left;
}
.header .dis_block .hot .left ul li p{
    font-size: 19px;
    line-height: 49px;
    color: rgb(51,51,51);
}
.header .dis_block .hot .left ul li p:hover{
    color: rgb(0,102,255);
}
.header .dis_block .hot .middle{
    width: 370px;
    height: 402px;
    /*background-color: #a71d5d;*/
    float: left;
    margin-left: 90px;
    margin-top: 15px;
}
/*.header .dis_block .hot .middle img{*/
    /*width: 295px;*/
    /*height: 150px;*/
/*}*/
/*.header .dis_block .hot .middle img{*/
    /*width: 295px;*/
    /*height: 150px;*/
/*}*/
.header .dis_block .hot .middle .img_bg{
    width: 295px;
    height: 150px;
    background: url("../img/operator_user/pic_5ggone.jpg") no-repeat center;
    background-size: 100%;
    transition: 1s;
    position: relative;
}
.header .dis_block .hot .middle .img_bg:hover{
    opacity: 0.6;
    background-size: 125%;
}
.header .dis_block .hot .middle p{
    color: rgb(51,51,51);
    margin-top: 10px;
    line-height: 30px;
    font-size: 15.5px;
    float: left;
}
.header .dis_block .hot .middle .p_character:hover{
    color: rgba(0,102,204);
}
/***********************************/
/*.content .bar .barre .box_right .col_left .img_bg{*/
    /*width: 340px;*/
    /*height: 149px;*/
    /*/!*margin-top: 5px;*!/*/
    /*margin-top: 0px;*/
    /*background-color: grey;*/
    /*background: url("../img/operator_user/pic_left.png") no-repeat center;*/
    /*background-size: 100%;*/
    /*transition: 1s;*/
    /*position: relative;*/
/*}*/
/*.content .bar .barre .box_right .col_left .img_bg:hover{*/
    /*/!*opacity: 0.9;*!/*/
    /*opacity: 0.6;*/
    /*background-size: 125%;*/
/*}*/
/*************************************/
.header .dis_block .hot .right{
    width: 370px;
    height: 402px;
    /*background-color: blue;*/
    float: left;
    margin-left: 22px;
    margin-top: 15px;
}
/*.header .dis_block .hot .right img{*/
    /*width: 295px;*/
    /*height: 150px;*/
/*}*/
.header .dis_block .hot .right .img_bg{
    width: 295px;
    height: 150px;
    background: url("../img/operator_user/pic_transition.jpg");
    background-size: 100%;
    transition: 1s;
    position: relative;
}
.header .dis_block .hot .right .img_bg:hover{
    opacity: 0.6;
    background-size: 125%;
}
.header .dis_block .hot .right p{
    color: rgb(51,51,51);
    margin-top: 10px;
    line-height: 30px;
    font-size: 15.5px;
    float: left;
}
.header .dis_block .hot .right .p_character:hover{
    color: rgba(0,102,204);
}
.header .nav .bottomnav i{
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
    color: gray;
    font-weight: bold;
}
.header .nav .bottomnav .search_icon :hover{
    color: red;
}
/*html的内容区*/
.content{
    width: 100%;
    height: 2544.03px;

    /*background-color: antiquewhite;*/
}
.content .topbar{
    /*width: 1349px;*/
    width: 100%;
    height: 508px;
    margin: 0 auto;
    padding-top: 87px;
    background-color: rgb(35,82,120);
}
.content .topbar .barcontainer{
    width: 1349px;
    /*width: 100%;*/
    height: 508px;
    margin: 0 auto;
    /*padding-top: 87px;*/
    padding-top: 25px;
    background: url("../img/operator_user/barcontainer_bg.jpg") center;
    background-repeat: no-repeat;


}
.content .topbar .barcontainer div{
    width: 1170px;
    height: 508px;
    margin: 0 auto;
    /*border: 1px solid red;*/
    padding-top: 200px;
    position: relative;
}
.content .topbar .barcontainer img{
    width: 492px;
    height: 196px;
    position: absolute;
    top: 124px;
    /*left: 100px;*/
    left: 25px;
}
.content .topbar .barcontainer div p{
    width: 1170px;
    height: 90px;
    margin: 128px auto;
    position: relative;
}
.content .topbar .barcontainer div p a{

    background-color: rgb(208,53,53);

    text-align: center;
    position: absolute;
    color: white;
    font-size: 18px;
    padding: 8px 18px 8px 18px;
    /*line-height: 40px;*/
    top: 25px;
    /*left: 100px;*/
    border-radius: 5px;
    text-decoration: none;
    left: 25px;
}
.content .topbar .barcontainer div p :hover{
    text-decoration: underline;
}
.content .column{
    width: 100%;
    height: 358px;
    padding: 0px 15px 20px 15px;
    /*background-color: #55a532;*/

}
.content .column h1{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    /*font-size: 25px;*/
    /*margin-top: 30px;*/
    margin-top: 107px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: lighter;
}
.content .column .group{
    width: 1170px;
    height: 270px;
    margin: 30px auto;
    /*position: relative;*/
    /*background-color: #df5000;*/
}
.content .column .group .left{
    width: 370px;
    height: 270px;

    float: left;
    margin-right: 15px;
    background: url("../img/operator_user/pic_columnleft.png");
    position: relative;
}
.content .column .group .left .shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    transition: 0.5s;
    /*float: left;*/
}
.content .column .group .left:hover .shadow{
    opacity: 0.95;

}

.content .column .group .left .left_interface{
    width: 302px;
    height: 270px;
    margin: 0 auto;
    position: relative;
}
.content .column .group .left .left_interface .trends{
    width: 56px;
    height: 23px;
    position: absolute;
    top: 30px;
    padding: 2px;
    border: 1px solid white;
}
.content .column .group .left .left_interface .trends img{
    width: 16px;
    height: 16px;
    float: left;
}
.content .column .group .left .left_interface .trends span{
    /*width: 24px;*/
    /*height: 14px;*/
    float: left;
    color: white;
    font-size: 13px;
    margin-left: 6px;
}
.content .column .group .left .left_interface .p_text{
    width: 300px;
    height: 34px;
    position: absolute;
    top: 124px;
    color: white;
    font-size: 17px;
}
.content .column .group .left .left_interface .p_btn a{
    background-color: rgb(208,53,53);

    text-align: center;
    position: absolute;
    color: white;
    font-size: 14px;
    padding: 7px 18px 7px 18px;
    /*line-height: 40px;*/
    top: 205px;
    left: 58px;
    border-radius: 5px;
    text-decoration: none;
}
.content .column .group .left .left_interface .p_btn :hover{
    text-decoration: underline;
}
.content .column .group .middle{
    width: 370px;
    height: 270px;
    /*padding: 0px 15px 0px 15px;*/
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    position: relative;
    background: url("../img/operator_user/pic_columnmiddle.png");
}
.content .column .group .middle .shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    transition: 0.5s;
    /*float: left;*/
}
.content .column .group .middle:hover .shadow{
    opacity: 0.95;

}
.content .column .group .middle .middle_interface{
    width: 302px;
    height: 270px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    position: relative;
}
.content .column .group .middle .middle_interface .case{
    width: 56px;
    height: 23px;
    position: absolute;
    top: 30px;
    padding: 2px;
    border: 1px solid white;
}
.content .column .group .middle .middle_interface .case img{
    width: 16px;
    height: 16px;
    float: left;
}
.content .column .group .middle .middle_interface .case span{
    /*width: 24px;*/
    /*height: 14px;*/
    float: left;
    color: white;
    font-size: 13px;
    margin-left: 6px;
}
.content .column .group .middle .middle_interface .p_text{
    width: 300px;
    height: 34px;
    position: absolute;
    top: 124px;
    color: white;
    font-size: 17px;
}
.content .column .group .middle .middle_interface .p_btn a{
    background-color: rgb(208,53,53);
    text-align: center;
    position: absolute;
    color: white;
    font-size: 14px;
    padding: 7px 18px 7px 18px;
    /*line-height: 40px;*/
    top: 205px;
    left: 58px;
    border-radius: 5px;
    text-decoration: none;
}
.content .column .group .middle .middle_interface .p_btn :hover{
    text-decoration: underline;
}
.content .column .group .right{
    width: 370px;
    height: 270px;
    /*padding: 0px 15px 0px 15px;*/
    margin-left: 15px;
    float: left;
    position: relative;
    background: url("../img/operator_user/pic_columnright.png");
}
.content .column .group .right .shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    transition: 0.5s;
    /*float: left;*/
}
.content .column .group .right:hover .shadow{
    opacity: 0.95;

}
.content .column .group .right .right_interface{
    width: 302px;
    height: 270px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    position: relative;
}

.content .column .group .right .right_interface .trends{
    width: 56px;
    height: 23px;
    position: absolute;
    top: 30px;
    padding: 2px;
    border: 1px solid white;
}
.content .column .group .right .right_interface .trends img{
    width: 16px;
    height: 16px;
    float: left;
}
.content .column .group .right .right_interface .trends span{
    /*width: 24px;*/
    /*height: 14px;*/
    float: left;
    color: white;
    font-size: 13px;
    margin-left: 6px;
}
.content .column .group .right .right_interface .p_text{
    width: 300px;
    height: 34px;
    position: absolute;
    top: 124px;
    color: white;
    font-size: 17px;
}
.content .column .group .right .right_interface .p_btn a{
    background-color: rgb(208,53,53);

    text-align: center;
    position: absolute;
    color: white;
    font-size: 14px;
    padding: 7px 18px 7px 18px;
    /*line-height: 40px;*/
    top: 205px;
    left: 58px;
    border-radius: 5px;
    text-decoration: none;
}
.content .column .group .right .right_interface .p_btn :hover{
    text-decoration: underline;
}

/********************************************/
.content .container{
    width: 100%;
    /*height: 898px;*/
    height: 918px;
    /*height: 903px*/
    margin: 0 auto;
    background-color: rgb(242,242,242);
    /*background-color: gray;*/
    /*background-color: rgb(242,242,242);*/
    /*background-color: red;*/
    /*background: url("../img/operator_user/container_pg.png") no-repeat;*/
}
.content .container .group{
    width: 1200px;
    /*height: 898px;*/
    height: 918px;
    /*height: 903px*/
    margin: 0 auto;
    background: url("../img/operator_user/container_pg.png") no-repeat center center;
    background-size: cover;
}
.content .container .group h1{
    width: 1170px;
    margin: 0 auto;
    /*margin-top: 50px;*/
    padding-top: 50px;
    text-align: center;
    font-weight: lighter;
    /*background-color: #795da3;*/
}
.content .container .group p{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}
.content .container .group .roundcon{
    width: 1200px;
    height: 745px;
    margin: 15px auto;
    overflow: hidden;
}
/**************************roundcon_div1********************************/
.content .container .group .roundcon .roundcon_div1{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: darkolivegreen;*/
    float: left;
    position: relative;
}
.content .container .group .roundcon .roundcon_div1 img{
    width: 100%;
    height: 100%;

}
.content .container .group .roundcon .roundcon_div1 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div1 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div1 .extend{
    width: 370px;
    height: 490px;
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend1.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    top: -490px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div1 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div1 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div1 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div1 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
/*.content .container .group .roundcon .roundcon_div1 .extend img{*/
    /*width: 370px;*/
    /*height: 490px;*/
    /*background-position: center;*/
/*}*/
.content .container .group .roundcon .roundcon_div1:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: 0;
    /*overflow: auto;*/
}
/*********************************roundcon_div2***************************/
.content .container .group .roundcon .roundcon_div2{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
}
/*********/
.content .container .group .roundcon .roundcon_div2 img{
    width: 100%;
    height: 100%;

}
.content .container .group .roundcon .roundcon_div2 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div2 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div2 .extend{
    width: 370px;
    height: 490px;
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend2.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    top: -490px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div2 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div2 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div2 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div2 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
.content .container .group .roundcon .roundcon_div2:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: 0;
    /*overflow: auto;*/
}
/*********************roundcon_div3**************************************/
.content .container .group .roundcon .roundcon_div3{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
}
.content .container .group .roundcon .roundcon_div3 img{
    width: 100%;
    height: 100%;

}
.content .container .group .roundcon .roundcon_div3 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div3 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div3 .extend{
    width: 370px;
    height: 490px;
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend3.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    top: -490px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div3 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div3 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div3 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div3 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
.content .container .group .roundcon .roundcon_div3:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: 0;
    /*overflow: auto;*/
}
/************************roundcon_div4************************************/
.content .container .group .roundcon .roundcon_div4{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
    /*overflow: hidden;*/
}
.content .container .group .roundcon .roundcon_div4 img{
     width: 100%;
     height: 100%;

 }
.content .container .group .roundcon .roundcon_div4 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div4 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div4 .extend{
    width: 370px;
    height: 490px;
    /*display: none;*/
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend4.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    /*top: 490px;*/

    top: 490px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div4 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div4 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div4 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div4 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
.content .container .group .roundcon .roundcon_div4:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: -260px;
    /*overflow: auto;*/
    /*display: block;*/
}
/**********************roundcon_div5***********************************/
.content .container .group .roundcon .roundcon_div5{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
}
.content .container .group .roundcon .roundcon_div5 img{
    width: 100%;
    height: 100%;

}
.content .container .group .roundcon .roundcon_div5 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div5 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div5 .extend{
    width: 370px;
    height: 490px;
    /*display: none;*/
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend5.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    /*top: 490px;*/

    top: 490px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div5 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div5 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div5 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div5 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
.content .container .group .roundcon .roundcon_div5:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: -260px;
    /*overflow: auto;*/
    /*display: block;*/
}
/*********************roundcon_div6*************************/
.content .container .group .roundcon .roundcon_div6{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
}
.content .container .group .roundcon .roundcon_div6 img{
    width: 100%;
    height: 100%;

}
.content .container .group .roundcon .roundcon_div6 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div6 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div6 .extend{
    width: 370px;
    height: 490px;
    /*display: none;*/
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend6.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    /*top: 490px;*/

    top: 490px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div6 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div6 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div6 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div6 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
.content .container .group .roundcon .roundcon_div6:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: -260px;
    /*overflow: auto;*/
    /*display: block;*/
}
/*********************roundcon_div7*************************/
.content .container .group .roundcon .roundcon_div7{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
}
.content .container .group .roundcon .roundcon_div7 img{
    width: 100%;
    height: 100%;

}
.content .container .group .roundcon .roundcon_div7 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div7 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div7 .extend{
    width: 370px;
    height: 490px;
    /*display: none;*/
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend7.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    /*top: 490px;*/

    top: 230px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div7 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div7 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div7 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div7 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
.content .container .group .roundcon .roundcon_div7:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: -260px;
    /*overflow: auto;*/
    /*display: block;*/
}
/*********************roundcon_div8*************************/
.content .container .group .roundcon .roundcon_div8{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
}
.content .container .group .roundcon .roundcon_div8 img{
    width: 100%;
    height: 100%;

}
.content .container .group .roundcon .roundcon_div8 div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 63px;
    left: 165px;
    /*border: 1px solid red;*/
}
.content .container .group .roundcon .roundcon_div8 p{
    width: 360px;
    position: absolute;
    top: 122px;
    color: white;

}
.content .container .group .roundcon .roundcon_div8 .extend{
    width: 370px;
    height: 490px;
    /*display: none;*/
    /*height: 100%;*/
    background: url("../img/operator_user/pic_extend8.jpg");
    position: absolute;
    background-color: #55a532;
    padding: 0px 25px 0px 25px;
    z-index: 999;
    /*top: 490px;*/

    top: 230px;
    left: 15px;
    overflow: visible;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.content .container .group .roundcon .roundcon_div8 .extend div{
    width: 80px;
    height: 80px;
    margin-top: 22px;
}
.content .container .group .roundcon .roundcon_div8 .extend div img{
    width: 80px;
    height: 80px;

}
.content .container .group .roundcon .roundcon_div8 .extend .p1{
    margin-top: 60px;
    font-size: 24px;

}
.content .container .group .roundcon .roundcon_div8 .extend .p2{
    width: 320px;
    margin-top: 105px;
    font-size: 19px;
    text-align: center;
    line-height: 29px;
}
.content .container .group .roundcon .roundcon_div8:hover .extend{
    display: block;
    height: 490px;
    /*transition: 3s;*/
    position: absolute;
    top: -260px;
    /*overflow: auto;*/
    /*display: block;*/
}
/*****************************************/
.content .container .group .roundcon .roundcon_div9{
    width: 400px;
    height: 230px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 30px;
    /*background-color: #222222;*/
    float: left;
    position: relative;
}
/*******************row****************************/
.content .row{
    width: 100%;
    height: 395px;
    margin:  0 auto;
    /*background-color: #63a35c;*/
}
.content .row .start{
    width: 1200px;
    height: 395px;
    /*background-color: #0086b3;*/
    margin: 0 auto;
    padding: 0px 15px 25px 15px;
}
.content .row .start h1{
    width: 1170px;
    text-align: center;
    margin: 0 auto;
    /*background-color: #e41f2b;*/
    font-size: 30px;
    font-weight: lighter;
    /* margin-top: 10px; */
    padding-top: 16px;
    padding-bottom: 10px;


}
.content .row .start p{
    width: 1170px;
    text-align: center;
    /*background-color: #55a532;*/
    font-size: 18px;
    margin: 0 auto;

}
/**************startcon1*********************/
.content .row .start a{
    color: black;
}

.content .row .start .startcon1{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    /*background-color: #df5000;*/
    float: left;
    margin-top: 16px;
    position: relative;
    /*display: none;*/
}
.content .row .start .startcon1 .bus_display{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/
    top: 48px;
    left: 104px;
}
.content .row .start .startcon1 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon1 .startcon1_none{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    background-color: rgb(21,176,232);
    margin-top: 16px;
    z-index: 999;
    top: -16px;
    left: 0px;
    position: absolute;
    display: none;
    /*transition: 2s;*/
}
.content .row .start .startcon1 .bus_displaynone{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/

    top: 48px;
    left: 104px;
    z-index: 999;
    /*display: none;*/
}
.content .row .start .startcon1 .startcon1_none p{
    color: white;
}
.content .row .start .startcon1 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon1:hover .startcon1_none{
    display: block;
}
/*****************startcon2******************/
.content .row .start .startcon2{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    /*background-color: #df5000;*/
    float: left;
    margin-top: 16px;
    position: relative;
}
.content .row .start .startcon2 .run_display{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/
    top: 48px;
    left: 104px;
}
.content .row .start .startcon2 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon2 .startcon2_none{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    background-color: rgb(121,199,155);
    margin-top: 16px;
    z-index: 999;
    top: -16px;
    left: 0px;
    position: absolute;
    display: none;
    /*transition: 2s;*/
}
.content .row .start .startcon2 .run_displaynone{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/

    top: 48px;
    left: 104px;
    z-index: 999;
    /*display: none;*/
}
.content .row .start .startcon2 .startcon2_none p{
    color: white;
}
.content .row .start .startcon2 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon2:hover .startcon2_none{
    display: block;
}
/******************startcon3************************/
.content .row .start .startcon3{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    /*background-color: #df5000;*/
    float: left;
    margin-top: 16px;
    position: relative;
}
.content .row .start .startcon3 .net_display{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/
    top: 48px;
    left: 104px;
}
.content .row .start .startcon3 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon3 .startcon3_none{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    background-color: rgb(242,112,98);
    margin-top: 16px;
    z-index: 999;
    top: -16px;
    left: 0px;
    position: absolute;
    display: none;
    /*transition: 2s;*/
}
.content .row .start .startcon3 .net_displaynone{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/

    top: 48px;
    left: 104px;
    z-index: 999;
    /*display: none;*/
}
.content .row .start .startcon3 .startcon3_none p{
    color: white;
}
.content .row .start .startcon3 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon3:hover .startcon3_none{
    display: block;
}
/*********************startcon4*************************/
.content .row .start .startcon4{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    /*background-color: #df5000;*/
    float: left;
    margin-top: 16px;
    position: relative;
}
.content .row .start .startcon4 .value_display{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/
    top: 48px;
    left: 104px;
}
.content .row .start .startcon4 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon4 .startcon4_none{
    width: 292px;
    height: 252px;
    padding: 0px 15px 0px 15px;
    background-color: rgb(255,221,80);
    margin-top: 16px;
    z-index: 999;
    top: -16px;
    left: 0px;
    position: absolute;
    display: none;
    /*transition: 2s;*/
}
.content .row .start .startcon4 .value_displaynone{
    display: block;
    width: 84px;
    height: 84px;
    position: absolute;
    /*border: 1px solid red;*/

    top: 48px;
    left: 104px;
    z-index: 999;
    /*display: none;*/
}
.content .row .start .startcon4 .startcon4_none p{
    color: white;
}
.content .row .start .startcon4 p{
    width: 262px;
    position: absolute;
    top: 170px;
    /*background-color: #795da3;*/
    font-size: 20px;
}
.content .row .start .startcon4:hover .startcon4_none{
    display: block;
}
/*****************bar**********************/
.content .bar{
    width: 100%;
    height: 335px;
    /*background-color: #0086b3;*/
    background-color: #f5f5f5;
}
.content .bar .barre{
    width: 1200px;
    height: 335px;
    /*padding: 0px 15px 0px 15px;*/
    margin: 0 auto;
    /*background-color: #bd2c00;*/
}
.content .bar .barre .box_left{
    width: 400px;
    height: 335px;
    padding: 0px 15px 0px 15px;
    /*background-color: aquamarine;*/
    float: left;
}
.content .bar .barre .box_left h2{
    width: 370px;
    height: 28px;
    font-weight: lighter;
    margin: 19px 0px 19px 0px;
}
.content .bar .barre .box_left ul{
    width: 370px;
    height: 252px;
    /*background-color: #ef323e;*/
    margin: 0 auto;
    list-style: none;
}
/**************fir_li******************/
.content .bar .barre .box_left ul .fir_li{
    width: 370px;
    height: 84px;
    padding: 0px 0px 12px 0px;
    /*background-color: #63a35c;*/
}
.content .bar .barre .box_left ul .fir_li a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.content .bar .barre .box_left ul .fir_li a:hover{
    color: rgb(0,102,204);
    text-decoration: underline;
}
.content .bar .barre .box_left ul .fir_li span{
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}
/**************sec_li*****************/
.content .bar .barre .box_left ul .sec_li{
    width: 370px;
    height: 84px;
    padding: 0px 0px 12px 0px;
    /*background-color: #63a35c;*/
}
.content .bar .barre .box_left ul .sec_li a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.content .bar .barre .box_left ul .sec_li a:hover{
    color: rgb(0,102,204);
    text-decoration: underline;
}
.content .bar .barre .box_left ul .sec_li span{
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}
/*****************thi_li*********************/
.content .bar .barre .box_left ul .thi_li{
    width: 370px;
    height: 84px;
    padding: 0px 0px 12px 0px;
    /*background-color: #63a35c;*/
}
.content .bar .barre .box_left ul .thi_li a{
    display: block;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
.content .bar .barre .box_left ul .thi_li a:hover{
    color: rgb(0,102,204);
    text-decoration: underline;
}
.content .bar .barre .box_left ul .thi_li span{
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}
/******************box_right*********************/
.content .bar .barre .box_right{
    width: 800px;
    height: 335px;
   /*background-color: coral;*/
    padding: 0px 30px 0px 30px;
    float: left;
}
.content .bar .barre .box_right .box_h2{
    width: 800px;
    height: 68px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    /*background-color: #bd2c00;*/
    line-height: 68px;
}
.content .bar .barre .box_right .box_h2 h2{
    font-weight: lighter;
}
/******************col_left***************************/
.content .bar .barre .box_right .col_left{
    width: 370px;
    /*width: 400px;*/
    height: 258px;
    /*padding: 0px 15px 0px 15px;*/
    padding: 0px 15px 0px 15px;
    /*background-color: #795da3;*/
    float: left;
}
.content .bar .barre .box_right .col_left .img_bg{
    width: 340px;
    height: 149px;
    /*margin-top: 5px;*/
    margin-top: 0px;
    background-color: grey;
    background: url("../img/operator_user/pic_left.png") no-repeat center;
    background-size: 100%;
    transition: 1s;
    position: relative;
}
.content .bar .barre .box_right .col_left .img_bg:hover{
    /*opacity: 0.9;*/
    opacity: 0.6;
    background-size: 125%;
}
/*.content .bar .barre .box_right .col_left img{*/
    /*width: 340px;*/
    /*height: 149px;*/
    /*background-size: cover;*/
/*}*/
/*.content .bar .barre .box_right .col_left .img_none{*/
    /*width: 380px;*/
    /*height: 160px;*/
    /*z-index: 999;*/
/*}*/
.content .bar .barre .box_right .col_left div{
    width: 200px;
    height: 24px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content .bar .barre .box_right .col_left a{
    text-decoration: none;
    color: black;
}
.content .bar .barre .box_right .col_left a:hover{
    color: rgb(0,102,204);
    text-decoration: underline;
}
.content .bar .barre .box_right .col_left p{
    width: 340px;
    height: 28px;

}
/*************col_right****************/
.content .bar .barre .box_right .col_right{
    /*width: 400px;*/
    width: 370px;
    height: 258px;
    padding: 0px 15px 0px 15px;
    /*background-color: #63a35c;*/
    float: left;
}
.content .bar .barre .box_right .col_right .img_bg{
    width: 340px;
    height: 149px;
    /*margin-top: 5px;*/
    margin-top: 0px;
    background-color: grey;
    background: url("../img/operator_user/pic_right.png") no-repeat center;
    background-size: 100%;
    transition: 1s;
    position: relative;
}
.content .bar .barre .box_right .col_right .img_bg:hover{
    /*opacity: 0.9;*/
    opacity: 0.6;
    background-size: 125%;
}
.content .bar .barre .box_right .col_right div{
    width: 200px;
    height: 24px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content .bar .barre .box_right .col_right a{
    text-decoration: none;
    color: black;
}
.content .bar .barre .box_right .col_right a:hover{
    color: rgb(0,102,204);
    text-decoration: underline;
}
.content .bar .barre .box_right .col_right p{
    width: 340px;
    height: 28px;

}
/******************************************************/
/*html的尾部*/
.footer{
    width: 100%;
    height: 359px;
    /*background-color: #a7247f;*/
    background-color: rgb(39,39,39);
}
.footer .container{
    width: 1200px;
    height: 359px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    margin-top: 87px;
    /*background-color: #63a35c;*/
}
/**************row**********************/
.footer .container .row{
    width: 770px;
    height: 207px;
    /*background-color: #795da3;*/
    float: left;
    margin-top: 28px;
}
/***************verbar1**********************/
.footer .container .row .verbar1{
    width: 192.5px;
    height: 207px;
    padding: 0px 15px 0px 15px;
    /*background-color: red;*/
    float: left;
}
.footer .container .row .verbar1 .visitor{
    width: 162.5px;
    height: 28px;
    /*background-color: #222222;*/
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.footer .container .row .verbar1 ul{
    width: 162px;
    height: 127px;
    margin-top: 20px;

    list-style: none;
}
.footer .container .row .verbar1 ul li{
    width: 162.5px;
    height: 28px;
    line-height: 28px;

}
.footer .container .row .verbar1 ul li a{
    color: white;
    text-decoration: none;
}
/*.footer .container .*/
/*****************right_block*******************/
.footer .container .right_block{
    width: 400px;
    height: 291px;
    padding: 0px 15px 0px 15px;
    /*background-color: #bd2c00;*/
    float: left;
    margin-top: 28px;
}
.footer .container .right_block .aboutus{
    width: 370px;
    height: 28px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
.footer .container .right_block ul{
    width: 182px;
    height: 50px;
    /*background-color: #225574;*/
    list-style: none;
    margin-top: 30px;
}
.footer .container .right_block ul li{
    width: 45px;
    height: 50px;
    float: left;
}
.footer .container .right_block ul li  img{
    width: 32px;
    height: 32px;
    margin-top: 9px;
    margin-right: 22px;

}
.footer .container .right_block .rbimg{
    margin-top: 0px;
}
.footer .container .right_block p{

    margin-top: 10px;
    font-size: 17px;
    color: white;
}
/***************bar********************/
.footer .container .bar{
    width: 1170px;
    height: 40px;
    float: left;
    /*background-color: #df5000;*/
}
.footer .container .bar .left{
    width: 770px;
    height: 40px;
    /*background-color: #795da3;*/
    float: left;
    /*line-height: 40px;*/
    padding-left: 15px;
}
.footer .container .bar .left span{
    font-size: 13px;
    color: white;

}
.footer .container .bar .right{
    width: 400px;
    height: 40px;
    /*background-color: #225574;*/
    float: left;
    padding: 0px 15px 0px 15px;
}
.footer .container .bar .right ul{
    height: 28px;
    list-style: none;
    /*line-height: 40px;*/
    color: white;

}
.footer .container .bar .right ul li{
    float: left;
    font-size: 14px;
}