*{
    margin: 0px;
    padding: 0px;
}
html
{
    height:100%;
    margin:0;
}
body
{
    height:100%;
    margin:0;
}

.head-bg{
    z-index:12;
    width: 100%;
    height: 46px;
    /*border: 1px red solid;*/
    color: white;
    background-color: #222222 ;
    position: fixed;
    /*top: 0px;*/
}
li{
    list-style: none;
}
.head{
    max-width: 1180px;
    height: 46px;
    /*border: 1px solid black;*/
    margin: 0px auto;
    position: relative;

}
.head-logo {
    width: 93px;
    height: 0px;
    /*border: 1px solid yellow;*/
    position: relative;
}
.logo{
    background: url("../img/tupian/logo.png") no-repeat center;
    width: 93px;
    height: 46px;
    /*border: 1px solid yellow;*/
}

.head-navright a{
    text-decoration: none;
    color: white;
}
.head-navright a:hover{
    color: red;
}
.head-navright{
    width: 430px;
    height: 46px;
    /*border: 1px solid yellow;*/
    float: right;
    z-index: 12;
    position: relative;
    box-sizing: border-box;
}
.head-navright li{
    float: right;
    position: relative;
}
.head-navright li:hover{
    color: red;
}
#registration{
    display: inline-block;
    line-height: 46px;
    background-color: #ca151d;
    padding-left: 15px;
    padding-right: 15px;
}
#registration:hover{
    background-color: #ef323e;
    color: white;
}
.chinese:hover .language{
    display: block;
}
.language{
    width: 115px;
    height: 40px;
    /*border: 1px solid yellow;*/
    position: absolute;
    left: 0px;
    top: 46px;
    background: rgba(34,34,34,.94);
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 10px;
    display: none;
}
.language a{
    display: block;
    height: 20px;
    font-size: 14px;
    color: #c3c5c6;
    /*white-space: nowrap;*/
    /*cursor: default;*/
    /*position: relative;*/

}
.language a:hover{
    color: red;
    border-right: 2px solid red;
}
.head-navright ul li{
    display: inline-block;
    vertical-align: middle;
    /*cursor: pointer;*/
    padding-left: 10px;
    padding-right: 10px;
    line-height: 46px;
    color: #f2f2f2;
    font-size: 14px;
}
/*主体内容*/
.container{
    height: 100%;
    background:url("../img/tupian/authbackground.jpg") center;
    /*position: relative;*/
    margin: 0px auto -10px auto ;
    min-height: 770px;
    min-width: 980px;
    border: solid 1px transparent;
}
.content{
    width: 1180px;
    height: 90%;
    background-color: rgba(255,255,255,.8);
    margin: 70px  auto;

}
.content-head{
    box-sizing: border-box;
    width: 100%;
    height:100px;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
}
.content-main{
    /*border: 1px solid yellow;*/
    width: 980px;
    height: auto;
    min-height: 390px;
    margin: 20px auto 10px;
    color: #333333;
    position: relative;
    font-size: 14px;

}
.content-main>div{
    /*border: 1px solid black;*/
    margin: 10px auto;
    width: 350px;
    height: 48px;
    position: relative;
    /*color: #999999;*/
}
input::-webkit-input-placeholder{
    color:#c3c5c6;
    font-size: 15px;
}
input:hover{
    border: 2px solid #a4a4a7;
}

.id input{
    /*color: red;*/
    width: 350px;
    height: 48px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
}
.pw input{
    width: 350px;
    height: 48px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
}
.pwagain input{
    width: 350px;
    height: 48px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
}
img{
    width: 13px;
    height: 13px;
}
.id-one{
    width: 370px;
    height: 79px;background-color: white;
    box-shadow:#666 0 0 5px ;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    position: absolute;
   bottom: 0px;
    left: 365px;
    display: none;

}
.id-two{
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 8px solid white;
    border-right:8px solid transparent ;
    border-top:8px solid transparent ;
    box-shadow: #666 0 0 5px;
    transform:rotate(45deg);
    position: absolute;
    left: -8px;
    top:30px;
}
.id-three{
    /*border:  1px solid red;*/
    width: 13px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}
.id:hover .id-one{
    display: block;
}

.pw-one{
    width: 370px;
    height: 120px;background-color: white;
    box-shadow:#666 0 0 5px ;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 365px;
    display: none;

}
.pw-two{
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 8px solid white;
    border-right:8px solid transparent ;
    border-top:8px solid transparent ;
    box-shadow: #666 0 0 5px;
    transform:rotate(45deg);
    position: absolute;
    left: -8px;
    top:70px;
}
.pw-three{
    /*border:  1px solid red;*/
    width: 13px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}
.pw:hover .pw-one{
    display: block;
}

.pwagain-one{
    width: 180px;
    height: 40px;background-color: white;
    box-shadow:#666 0 0 5px ;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 360px;
    display: none;

}
.pwagain-two{
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 5px solid white;
    box-shadow: #666 0 0 5px;
    transform:rotate(45deg);
    position: absolute;
    left: -4px;
    top:15px;
}
.pwagain-three{
    /*border:  1px solid red;*/
    width: 13px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}
.pwagain:hover .pwagain-one{
    display: block;
}
.mobilenumber-1{
    float: left;
    width: 94px;
    height: 40px;
    background-image: url("../img/tupian/moblienumber.png");

}
.mobile input{
    /*color: #999999;*/
    width: 256px;
    height: 48px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
}
.mobile-one{
    width: 180px;
    height: 40px;background-color: white;
    box-shadow:#666 0 0 5px ;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 360px;
    display: none;

}
.mobile-two{
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 5px solid white;

    box-shadow: #666 0 0 5px;
    transform:rotate(45deg);
    position: absolute;
    left: -4px;
    top:15px;
}
.mobile-three{
    /*border:  1px solid red;*/
    width: 13px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}
.mobile:hover .mobile-one{
    display: block;
}

.note input{
    /*color: #999999;*/
    width: 190px;
    height: 48px;
    font-size: 1px;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}
.note-one{
    width: 180px;
    height: 40px;background-color: white;
    box-shadow:#666 0 0 5px ;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 14px;
    position: absolute;
    top: -51px;
    left: 0px;
    display: none;

}
.note-two{
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 5px solid white;
    box-shadow: #666 0 0 5px;
    transform:rotate(45deg);
    position: absolute;
    left: 14px;
    bottom:-5px;
}
.note-three{
    /*border:  1px solid red;*/
    width: 100%;
    height: 13px;
    background-color: white;
    position: absolute;
    left: 0px;
   bottom: 0px;
}
.note button{
    color: #999999;
    width: 150px;
    height: 48px;
    font-size: 16px;
}
.note:hover .note-one{
    display: block;
}
.note button:hover{
    color: #007dff;
}
#registered a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.button{
    background-color: #e14357;
    color: white;
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 48px;
    font-size: 16px;
    border:2px solid #dc424f;
}
.button:hover{
    opacity:0.8
}





/*底部栏*/
.footer-copyright-container{
    /*border-top:1px solid blue;*/
    width: 100%;
    height: 70px;
    background-color: #222222;
}
.footer-law {
    /*border:1px solid red;*/
    box-sizing: border-box;
    height: 61px;
    width: 1200px;
    margin:3px auto;
    padding-bottom: 6px;
    padding-top: 6px;
    color:#999;
    font-size: 15px;
    position: relative;
    bottom: 0px;
}
.footer-law>ul{
    float: right;
    overflow: hidden;
}
.footer-law a{
    text-decoration: none;
    color:#999;
    font-size: 16px;
}.footer-law a:hover{
    color: white;
 }
.footer-law li{
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
}
.footer-copyright{
    float: left;
    width: 560px;
    height: 24px;

}
.footer-copyright span{
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    line-height: 24px;
}
.footer-record{
    width: 100%;
    height: 24px;
    clear: both;
    box-sizing: border-box;

}
.footer-record-icon1{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    background-size: 100% 100%;
    background: url("../img/tupian/a6.png") no-repeat center;

}.footer-record-icon2{
     display: inline-block;
     width: 18px;
     height: 18px;
     margin-right: 8px;
     vertical-align: middle;
     background-size: 100% 100%;
     background: url("../img/tupian/a7.png") no-repeat center;
 }
.footer-record span{
    font-size: 8px;
    vertical-align: middle;
}