*{
    margin: 0px;
    padding: 0px;
}
html
{
    height:100%;
    margin:0;
}
body
{
    height:100%;
    margin:0;
}

.head-bg{
    z-index:12;
    width: 100%;
    height: 46px;
    /*border: 1px red solid;*/
    color: white;
    background-color: #222222 ;
    position: fixed;
}
li{
    list-style: none;
}
.head{
    max-width: 1180px;
    height: 46px;
    /*border: 1px solid black;*/
    margin: 0px auto;
    position: relative;

}
.head-logo {
    width: 93px;
    height: 0px;
    /*border: 1px solid yellow;*/
    position: relative;
}
.logo{
    background: url("../img/tupian/logo.png") no-repeat center;
    width: 93px;
    height: 46px;
    /*border: 1px solid yellow;*/
}

.head-navright a{
    text-decoration: none;
    color: white;
}
.head-navright a:hover{
    color: red;
}
.head-navright{
    width: 398px;
    height: 46px;
    /*border: 1px solid yellow;*/
    float: right;
    z-index: 12;
    position: relative;
    box-sizing: border-box;
}
.head-navright li{
    float: right;
    position: relative;
}
.head-navright li:hover{
    color: red;
}
#registration{
    display: inline-block;
    line-height: 46px;
    background-color: #ca151d;
    padding-left: 15px;
    padding-right: 15px;
}
#registration:hover{
    background-color: #ef323e;
    color: white;
}
.chinese:hover .language{
    display: block;
}
.language{
    width: 128px;
    height: 60px;
    /*border: 1px solid yellow;*/
    position: absolute;
    left: -10px;
    background: rgba(34,34,34,.94);
    box-sizing: border-box;
    /*padding-left: 20px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}
.language>a{
    display: block;
    line-height: 20px;
    height: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #c3c5c6;
    /*white-space: nowrap;*/
    /*cursor: default;*/
    /*position: relative;*/

}
.language>a:hover{
    color: red;
    border-right: 2px solid red;
}
.head-navright ul li{
    display: inline-block;
    vertical-align: middle;
    /*cursor: pointer;*/
    padding-left: 10px;
    padding-right: 10px;
    line-height: 46px;
    color: #f2f2f2;
    font-size: 14px;
}
/*主体内容*/
.container{
    height: 100%;
    background:url("../img/tupian/authbackground.jpg") center;
    position: relative;
    margin: 0px auto -70px auto ;
    min-height: 770px;
    min-width: 980px;
    border: solid 1px red;
}
.content{
    width: 1180px;
    height: 86%;
    background-color: rgba(255,255,255,.8);
    margin: 70px auto;

}
.content-head{
    box-sizing: border-box;
    width: 100%;
    height:100px;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
}
.content-main{
    border: 1px solid yellow;
    width: 980px;
    height: auto;
    min-height: 390px;
    margin: 20px auto 10px;
    color: #333333;
    position: relative;
    font-size: 14px;

}
.content-main>div{
    border: 1px solid black;
    margin: 10px auto;
    width: 1000px;
    height: 48px;
}





/*底部栏*/
.footer-copyright-container{
    border-top:1px solid red;
    width: 100%;
    height: 70px;
    background-color: #222222;
}
.footer-law {
    /*border:1px solid red;*/
    box-sizing: border-box;
    height: 61px;
    width: 1200px;
    margin:3px auto;
    padding-bottom: 6px;
    padding-top: 6px;
    color:#999;
    font-size: 15px;
}
.footer-law>ul{
    float: right;
    overflow: hidden;
}
.footer-law a{
    text-decoration: none;
    color:#999;
    font-size: 16px;
}.footer-law a:hover{
    color: white;
 }
.footer-law li{
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
}
.footer-copyright{
    float: left;
    width: 560px;
    height: 24px;

}
.footer-copyright span{
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    line-height: 24px;
}
.footer-record{
    width: 100%;
    height: 24px;
    clear: both;
    box-sizing: border-box;

}
.footer-record-icon1{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    background-size: 100% 100%;
    background: url("../img/tupian/a6.png") no-repeat center;

}.footer-record-icon2{
     display: inline-block;
     width: 18px;
     height: 18px;
     margin-right: 8px;
     vertical-align: middle;
     background-size: 100% 100%;
     background: url("../img/tupian/a7.png") no-repeat center;
 }
.footer-record span{
    font-size: 8px;
    vertical-align: middle;
}